<p>Стоимость DDP Алматы $618 000
</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>LW1200</td>
              <td>Ед.изм</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Грузоподъемность</td>
              <td>12000</td>
              <td>кг</td>
            </tr>

            <tr>
              <td>Собственный вес</td>
              <td>48000</td>
              <td>кг</td>
            </tr>
         
        <tr>
            <td colspan="3"><center><strong>Описание</strong></center></td>
        </tr>      

            <tr>
              <td>Высота выгрузки</td>
              <td>3.73</td>
              <td>м</td>
            </tr>         
          
            <tr>
              <td>Объем ковша</td>
              <td>6.5</td>
              <td>м³</td>
            </tr>
       
            <tr>
              <td>Габаритные размеры</td>
              <td>11300×3890×4340</td>
              <td>мм</td>
            </tr>
         
        <tr>
            <td colspan="3"><center><strong>Двигатель</strong></center></td>
        </tr> 
          
            <tr>
              <td>Марка	</td>
              <td></td>
              <td>Cummins QSK19</td>
            </tr>
          
            <tr>
              <td>Мощность</td>
              <td></td>
              <td>390.3 кВт (531 л.с.) </td>
            </tr>
		
            <tr>
              <td>Топливо</td>
              <td></td>
              <td>дизель</td>
            </tr>
     
            <tr>
              <td>Турбо</td>
              <td></td>
              <td>Интеркуллер</td>
            </tr>
           
            <tr>
              <td>Объем</td>
              <td>19000</td>
              <td>см³</td>
            </tr>
                
            <tr>
              <td>Количество цилиндров</td>
              <td></td>
              <td>6</td>
            </tr>
			
        </tbody>
    </table>