<p>Цена DDP Алматы  - 33 000 долларов США. 
С кондиционером на 1000 долларов США дороже.</p>
<p>Цена без НДС для ТОО и ИП -  30 800 долларов США.
Срок поставки - 10 дней.</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>Ед.изм</td>
              <td>LW300FN</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Номинальная нагрузка</td>
              <td>кг</td>
              <td>3000</td>
            </tr>

            <tr>
              <td>Эксплуатационный вес (стандартная компоновка) </td>
              <td>кг</td>
              <td>10000</td>
            </tr>
         
            <tr>
              <td>Номинальная емкость ковш-лопаты</td>
              <td>м3</td>
              <td>1.8</td>
            </tr>
         

            <tr>
              <td>Вырывное  усилие</td>
              <td>тн</td>
              <td>12</td>
            </tr>
         
          
            <tr>
              <td>Время подъема</td>
              <td>с</td>
              <td>5,65</td>
            </tr>
       
            <tr>
              <td>Время полного цикла</td>
              <td>с</td>
              <td>10,3</td>
            </tr>
         
            <tr>
              <td>Макс. высота выгрузки</td>
              <td>мм</td>
              <td>3000</td>
            </tr>
          
            <tr>
              <td>Макс. расстояние выгрузки</td>
              <td>мм</td>
              <td>1104</td>
            </tr>
          
            <tr>
              <td>Колёсная  база</td>
              <td>мм</td>
              <td>2600</td>
            </tr>
       
            <tr>
              <td>Радиус поворота</td>
              <td>мм</td>
              <td>5925</td>
            </tr>
     
            <tr>
              <td>Диапазон скоростей вперед</td>
              <td>Км/ч</td>
              <td>0-10/16/21/35</td>
            </tr>
           
            <tr>
              <td>Диапазон скоростей назад</td>
              <td>Км/ч</td>
              <td>0-14/25</td>
            </tr>
                
            <tr>
              <td>Транспортные размеры (длина×ширина×высота) </td>
              <td>мм</td>
              <td>6970×2482×3025</td>
            </tr>
                 
            <tr>
              <td>Ширина ковша</td>
              <td>мм</td>
              <td>2470</td>
            </tr>
                    
            <tr>
              <td>Тип двигателя</td>
              <td></td>
              <td>Yuchai YC6B125-T21</td>
            </tr>
                  
            <tr>
              <td>Мощность двигателя</td>
              <td>Квт</td>
              <td>92</td>
            </tr>
                       
            <tr>
              <td>Расход топлива: транспортный режим/ погрузка </td>
              <td>л/час</td>
              <td>9,5/7,7</td>
            </tr>
    
            <tr>
              <td>Управление </td>
              <td></td>
              <td>Рычаг/Джойстик</td>
            </tr>
        
        </tbody>
    </table>