<p>Цена DDP Алматы – 13 700 000 тенге. 
Срок поставки – 15-20 дней.
</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>Ед.изм</td>
              <td>LW300KN</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Номинальная нагрузка</td>
              <td>кг</td>
              <td>3000</td>
            </tr>

            <tr>
              <td>Эксплуатационный вес (стандартная компоновка) </td>
              <td>кг</td>
              <td>11000</td>
            </tr>
         
            <tr>
              <td>Номинальная емкость ковш-лопаты</td>
              <td>м3</td>
              <td>1.8</td>
            </tr>
         

            <tr>
              <td>Вырывное  усилие</td>
              <td>тн</td>
              <td>12</td>
            </tr>
         
          
            <tr>
              <td>Время подъема</td>
              <td>с</td>
              <td>5,68</td>
            </tr>
       
            <tr>
              <td>Время полного цикла</td>
              <td>с</td>
              <td>10,6</td>
            </tr>
         
            <tr>
              <td>Макс. высота выгрузки</td>
              <td>мм</td>
              <td>3000</td>
            </tr>
          
            <tr>
              <td>Макс. расстояние выгрузки</td>
              <td>мм</td>
              <td>1100</td>
            </tr>
          
            <tr>
              <td>Колёсная  база</td>
              <td>мм</td>
              <td>2900</td>
            </tr>
       
            <tr>
              <td>Радиус поворота</td>
              <td>мм</td>
              <td>6067</td>
            </tr>
     
            <tr>
              <td>Диапазон скоростей вперед</td>
              <td>Км/ч</td>
              <td>0-7/14/35</td>
            </tr>
       
            <tr>
              <td>Диапазон скоростей назад</td>
              <td>Км/ч</td>
              <td>0-8/16/37</td>
            </tr>
                
            <tr>
              <td>Транспортные размеры (длина×ширина×высота) </td>
              <td>мм</td>
              <td>6970×2482×3025</td>
            </tr>
                 
            <tr>
              <td>Ширина ковша</td>
              <td>мм</td>
              <td>2580</td>
            </tr>
                    
            <tr>
              <td>Тип двигателя</td>
              <td></td>
              <td>Yuchai YC6J125Z-T22</td>
            </tr>
                  
            <tr>
              <td>Мощность двигателя</td>
              <td>Квт</td>
              <td>92</td>
            </tr>                      
    
            <tr>
              <td>Управление</td>
              <td></td>
              <td>Джойстик</td>
            </tr>

            <tr>
              <td>Кабина</td>
              <td></td>
              <td>С кондиционером</td>
            </tr>
			
        </tbody>
    </table>