<p>Цена DDP Алматы – 20 000 000 тенге.
Цена без НДС для ТОО и ИП -  18 000 000 тенге.
Доставка: 700 000 тенге
Срок поставки - 10 дней.</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>Ед.изм</td>
              <td>LW500FN</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Номинальная нагрузка</td>
              <td>кг</td>
              <td>5000</td>
            </tr>

            <tr>
              <td>Эксплуатационный вес (стандартная компоновка) </td>
              <td>кг</td>
              <td>16500</td>
            </tr>
         
            <tr>
              <td>Номинальная емкость ковш-лопаты</td>
              <td>м3</td>
              <td>3</td>
            </tr>
         

            <tr>
              <td>Вырывное  усилие</td>
              <td>тн</td>
              <td>16,2</td>
            </tr>
         
          
            <tr>
              <td>Время подъема</td>
              <td>с</td>
              <td>6</td>
            </tr>
       
            <tr>
              <td>Время полного цикла</td>
              <td>с</td>
              <td>11</td>
            </tr>
         
            <tr>
              <td>Макс. высота выгрузки</td>
              <td>мм</td>
              <td>3100</td>
            </tr>
          
            <tr>
              <td>Макс. расстояние выгрузки</td>
              <td>мм</td>
              <td>1200</td>
            </tr>
          
            <tr>
              <td>Колёсная  база</td>
              <td>мм</td>
              <td>2960</td>
            </tr>
       
            <tr>
              <td>Радиус поворота</td>
              <td>мм</td>
              <td>6950</td>
            </tr>
     
            <tr>
              <td>Диапазон скоростей вперед</td>
              <td>Км/ч</td>
              <td>0-11,5/0-38</td>
            </tr>
           
            <tr>
              <td>Диапазон скоростей назад</td>
              <td>Км/ч</td>
              <td>0-16,5</td>
            </tr>
                
            <tr>
              <td>Транспортные размеры (длина×ширина×высота) </td>
              <td>мм</td>
              <td>8000×3016×3515</td>
            </tr>
                 
            <tr>
              <td>Ширина ковша</td>
              <td>мм</td>
              <td>3016</td>
            </tr>
                    
            <tr>
              <td>Тип двигателя</td>
              <td>Shangchai SC9D220.2G2B1 турбированный, рядный</td>
              <td></td>
            </tr>

            <tr>
              <td>Количество цилиндров</td>
              <td></td>
              <td>6</td>
            </tr>

            <tr>
              <td>Рабочий объем</td>
              <td>л</td>
              <td>9,726</td>
            </tr>
			
            <tr>
              <td>Мощность двигателя</td>
              <td>Квт/об.мин</td>
              <td>162/2000</td>
            </tr>
                       
            <tr>
              <td>Расход топлива: транспортный режим/ погрузка</td>
              <td>л/час</td>
              <td>16,7/13,4</td>
            </tr>
    
            <tr>
              <td>Управление</td>
              <td></td>
              <td>Рычаг</td>
            </tr>

            <tr>
              <td>Кабина</td>
              <td></td>
              <td>С кондиционером</td>
            </tr>
			
        </tbody>
    </table>