<p>Цена DDP Алматы: 95 000 долларов США. 
Срок поставки: 5 дней.</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>Ед.изм</td>
              <td>LW600K</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Грузоподъемность</td>
              <td>кг</td>
              <td>6000</td>
            </tr>

            <tr>
              <td>Объем ковша</td>
              <td>м3</td>
              <td>4</td>
            </tr>
         
            <tr>
              <td>Вес погрузчика</td>
              <td>кг</td>
              <td>20000 </td>
            </tr>         

            <tr>
              <td>Скорость на I передаче (вперед/назад) </td>
              <td>км/час</td>
              <td>6/6</td>
            </tr>         
          
            <tr>
              <td>Скорость на II передаче (вперед/назад) </td>
              <td>км/час</td>
              <td>11/11</td>
            </tr>
       
            <tr>
              <td>Скорость на III передаче (вперед)</td>
              <td>км/час</td>
              <td>22/22</td>
            </tr>
         
            <tr>
              <td>Скорость на IV передаче (вперед) </td>
              <td>км/час</td>
              <td>36</td>
            </tr>
          
            <tr>
              <td>Максимальное вырывное усилие</td>
              <td>кН</td>
              <td>171</td>
            </tr>
          
            <tr>
              <td>Время рабочего цикла</td>
              <td>с</td>
              <td>10.9</td>
            </tr>
       
            <tr>
              <td>Двигатель у XCMG LW600K</td>
              <td></td>
              <td>Cummins QSC8.3</td>
            </tr>
     
            <tr>
              <td>Мощность</td>
              <td>квт/ об/мин</td>
              <td>179/2200</td>
            </tr>
           
            <tr>
              <td>Кол-во цилиндров / Диаметр / Величина хода</td>
              <td>шт</td>
              <td>6</td>
            </tr>
                
            <tr>
              <td>Покрышки</td>
              <td></td>
              <td>23.5-25</td>
            </tr>
			
        </tbody>
    </table>