<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметр</td>
              <td>Значение</td>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>Грузоподъемность</td>
                <td>кг</td>
            </tr>

            <tr>
                <td>Емкость ковша</td>
                <td> м<sup>3</sup></td>
            </tr>
         
            <tr>
              <td>Макс. высота выгрузки</td>
              <td> мм</td>
            </tr>
         

            <tr>
              <td>Дальность выгрузки</td>
              <td> мм</td>
            </tr>
         
          
            <tr>
              <td>Макс. подъемная cила</td>
              <td>≥ кН</td>
            </tr>
       
            <tr>
              <td>Радиус разворота</td>
              <td> мм</td>
            </tr>
         
            <tr>
              <td>Габаритные размеры (Д*Ш*В)</td>
              <td> мм</td>
            </tr>
          
            <tr>
              <td>Размеры ковша</td>
              <td> мм</td>
            </tr>
          
            <tr>
              <td>Диапазон скоростей вперед</td>
              <td> км/ч </td>
            </tr>
       
            <tr>
              <td>Диапазон скоростей назад</td>
              <td> км/ч </td>
            </tr>
     
            <tr>
              <td>Время подьема</td>
              <td> с </td>
            </tr>
          
            <tr>
              <td>Время полного цикла</td>
              <td> с </td>
            </tr>
       
            <tr>
              <td>Колесная база</td>
              <td> мм</td>
            </tr>
                
            <tr>
              <td>Эксплуатационная масса</td>
              <td> кг</td>
            </tr>
                 
            <tr>
              <td>Двигатель</td>
              <td></td>
            </tr>
                    
            <tr>
              <td>Мощность</td>
              <td> квт</td>
            </tr>
                  
            <tr>
              <td>Удельный Расход топлива</td>
              <td>≤ г/кВт.ч</td>
            </tr>
                       
            <tr>
              <td>Управление</td>
              <td> </td>
            </tr>
    
            <tr>
              <td>Кабина</td>
              <td> </td>
            </tr>
        
        </tbody>
    </table>