<p>Цена DDP Алматы - 300  000 долларов США. 
С захватом для деревьев - 331 000 долларов США
Срок поставки: 50 дней.
</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>Ед.изм</td>
              <td>LW800K</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Паспортная емкость ковша</td>
              <td>м3</td>
              <td>4.5</td>
            </tr>

            <tr>
              <td>Ном. грузоподъемность</td>
              <td>кг</td>
              <td>8000</td>
            </tr>
         
            <tr>
              <td>Рабочая масса целой машины</td>
              <td>кг</td>
              <td>28500</td>
            </tr>         

            <tr>
              <td>Скорость на I передаче (вперед/назад) </td>
              <td>км/час</td>
              <td>6/6</td>
            </tr>         
          
            <tr>
              <td>Мин. дорожный просвет</td>
              <td>мм</td>
              <td>480</td>
            </tr>
       
            <tr>
              <td>Макс. тяговая сила</td>
              <td>Кн</td>
              <td>245</td>
            </tr>
         
            <tr>
              <td>Макс. сила взрытия</td>
              <td>Кн</td>
              <td>260</td>
            </tr>
          
            <tr>
              <td>Время подъема стрелы крана</td>
              <td>с</td>
              <td>6.9</td>
            </tr>
          
            <tr>
              <td>Совокупность времении трех пунктов</td>
              <td>с</td>
              <td>11.8</td>
            </tr>

        <tr>
            <td colspan="3"><center><strong>Двигатель</strong></center></td>
        </tr>
		
            <tr>
              <td>тип</td>
              <td>QSM11-C335</td>
              <td></td>
            </tr>
     
            <tr>
              <td>Форма</td>
              <td>электровпрыск, с турбонаддувом, промежуточное охлаждение воздух-воздух</td>
              <td></td>
            </tr>
           
            <tr>
              <td>Паспортная мощность</td>
              <td>квт</td>
              <td>250</td>
            </tr>
                
            <tr>
              <td>Паспортная частота вращения</td>
              <td>об/мин</td>
              <td>2100</td>
            </tr>

        <tr>
            <td colspan="3"><center><strong>Скорость движения</strong></center></td>
        </tr>
		
            <tr>
              <td>передача I переднего/заднего хода</td>
              <td>км/ч</td>
              <td>7/7</td>
            </tr>

            <tr>
              <td>передача II переднего/заднего хода</td>
              <td>км/ч</td>
              <td>11.5/11.5</td>
            </tr>

            <tr>
              <td>передача IIII переднего/заднего хода</td>
              <td>км/ч</td>
              <td>24.5/24.5</td>
            </tr>
			
            <tr>
              <td>передача IV переднего хода</td>
              <td>км/ч</td>
              <td>35.5</td>
            </tr>
			
            <tr>
              <td>Тип шины</td>
              <td></td>
              <td>29.5-25-22PR</td>
            </tr>
			
        </tbody>
    </table>