<p>Стоимость DDP Almaty: 322 200$</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>Ед.изм</td>
              <td>LW900KN</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Грузоподъемность</td>
              <td>кг</td>
              <td>9000</td>
            </tr>

            <tr>
              <td>Объем ковша</td>
              <td>м3</td>
              <td>5</td>
            </tr>
         
            <tr>
              <td>Вес погрузчика</td>
              <td>кг</td>
              <td>29500</td>
            </tr>         

            <tr>
              <td>Высота разгрузки</td>
              <td>мм</td>
              <td>3400</td>
            </tr>      
          
            <tr>
              <td>Габаритные размеры (длина×ширина×высота) </td>
              <td>мм</td>
              <td>9400x3500x3770</td>
            </tr>
       
            <tr>
              <td>Модель двигателя</td>
              <td></td>
              <td>Cummins QSM11 Euro3</td>
            </tr>
         
            <tr>
              <td>Скорость на IV передаче (вперед) </td>
              <td>км/час</td>
              <td>36</td>
            </tr>
          
            <tr>
              <td>Мощность</td>
              <td>кВт/об.мин</td>
              <td>250/2100</td>
            </tr>
          
            <tr>
              <td>Мосты</td>
              <td></td>
              <td>ZF</td>
            </tr>
       
            <tr>
              <td>Трансмиссия</td>
              <td></td>
              <td>ZF</td>
            </tr>
     
            <tr>
              <td>Органы управления</td>
              <td></td>
              <td>Джойстик</td>
            </tr>
           
            <tr>
              <td>Кондиционер</td>
              <td></td>
              <td>Есть</td>
            </tr>
                
            <tr>
              <td>Централизованная система смазки</td>
              <td></td>
              <td>Есть</td>
            </tr>

            <tr>
              <td>Мин. радиус поворота</td>
              <td>мм</td>
              <td>6200</td>
            </tr>

            <tr>
              <td>Макс. тяговое усилие</td>
              <td>кН</td>
              <td>245</td>
            </tr>

            <tr>
              <td>Макс. вырывное усилие</td>
              <td>кН</td>
              <td>260</td>
            </tr>

            <tr>
              <td>Расстояние выгрузки</td>
              <td>мм</td>
              <td>1400</td>
            </tr>

            <tr>
              <td>Высота выгрузки</td>
              <td>мм</td>
              <td>3400</td>
            </tr>

	<p>Фронтальный погрузчик LW900K – это многофункциональный крупнотоннажный погрузчик, который широко используется на различных строительных площадках, главным образом, для погрузки и перемещения сыпучих материалов (грунта, песка, щебня, камней), а также может эффективно использоваться для буксировки, выравнивания грунта, выполнения отвалов, прокладки траншей.
Модель LW900K оснащена мощным дизельным двигателем Cummins, благодаря которому погрузчик отличается высокой производительностью и экономичным расходом топлива. Внушительные габариты, высокий показатель грузоподъемности, увеличенная емкость ковша, гидравлическая система управления, электрогидравлическая трансмиссия, широкая колесная база и большой диаметр колес погрузчика LW900K свидетельствуют о его высокой мощности, надежности, устойчивости и безопасности и обеспечивают эффективную работу машины в исключительно тяжелых условиях. Все детали и механизмы погрузчика изготовлены из прочных высококачественных материалов, что гарантирует его износостойкость и долгий срок службы.
При необходимости вместо стандартного ковша погрузчик может быть переоснащен другими видами съемного навесного оборудования: ковшом боковой выгрузки, вилами, челюстным захватом или бульдозерным отвалом.
Внешний вид погрузчика LW900K отличается стильным современным дизайном. Просторная кабина оператора имеет широкий обзор и оснащена кондиционером, системой отопления и автомагнитолой для комфортной и эффективной работы в любых климатических условиях.
</p>
			
        </tbody>
    </table>
