<p>Цена DDP Алматы -  24 500 000 тенге. 
Цена без НДС для ТОО и ИП -  22 000 000 тенге.
</p>
<p>Доставка ЖД транспортом: 700 000 тенге
Срок поставки - 10 дней.
</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>Ед.изм</td>
              <td>ZL50GN</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Номинальная нагрузка</td>
              <td>кг</td>
              <td>5000</td>
            </tr>

            <tr>
              <td>Эксплуатационный вес (стандартная компоновка) </td>
              <td>кг</td>
              <td>17500</td>
            </tr>
         
            <tr>
              <td>Номинальная емкость ковш-лопаты</td>
              <td>м3</td>
              <td>3</td>
            </tr>
         

            <tr>
              <td>Вырывное  усилие</td>
              <td>тн</td>
              <td>16,2</td>
            </tr>
         
          
            <tr>
              <td>Время подъема</td>
              <td>с</td>
              <td>6</td>
            </tr>
       
            <tr>
              <td>Время полного цикла</td>
              <td>с</td>
              <td>11</td>
            </tr>
         
            <tr>
              <td>Макс. высота выгрузки</td>
              <td>мм</td>
              <td>3090</td>
            </tr>
          
            <tr>
              <td>Макс. расстояние выгрузки</td>
              <td>мм</td>
              <td>1130</td>
            </tr>
          
            <tr>
              <td>Колёсная  база</td>
              <td>мм</td>
              <td>3300</td>
            </tr>

            <tr>
              <td>Колея</td>
              <td>мм</td>
              <td>2200</td>
            </tr>
			
            <tr>
              <td>Радиус поворота</td>
              <td>мм</td>
              <td>6400</td>
            </tr>
     
            <tr>
              <td>Диапазон скоростей вперед</td>
              <td>Км/ч</td>
              <td>0-11,5/0-38</td>
            </tr>
           
            <tr>
              <td>Диапазон скоростей назад</td>
              <td>Км/ч</td>
              <td>0-16,5</td>
            </tr>
                
            <tr>
              <td>Транспортные размеры (длина×ширина×высота) </td>
              <td>мм</td>
              <td>8200×3000×3485</td>
            </tr>
                 
            <tr>
              <td>Ширина ковша</td>
              <td>мм</td>
              <td>3000</td>
            </tr>
                    
            <tr>
              <td>Тип двигателя</td>
              <td></td>
              <td>WEICHAI WD10G2200E23</td>
            </tr>
                  
            <tr>
              <td>Мощность двигателя</td>
              <td>Квт</td>
              <td>162</td>
            </tr>

            <tr>
              <td>Управление</td>
              <td></td>
              <td>Джойстик</td>
            </tr>
			
    
            <tr>
              <td>Кабина</td>
              <td></td>
              <td>С кондиционером</td>
            </tr>
        
        </tbody>
    </table>