<div class="header_container">
    <div class="header">
        <div class="header_flex">
            <div class="header_logo">
                <img src="https://img.icons8.com/dotty/80/000000/car-service.png">
                <span>Аренда строительной техники в Алмате</span>
            </div>
            <div class="header_phones">
                <div class="header_phones_phone">
                    <img src="https://img.icons8.com/ios/30/000000/phone-message.png">
                    <p>8 (812) 346-69-90</p>
                </div>
            
                <div class="header_phones_phone">
                    <img src="https://img.icons8.com/ios/30/000000/add-phone.png">
                    <p>8 (800) 700-04-69</p>
                </div>
                
            </div>
        </div>
      
        <div class="header_flex">
            <div class="header_mail">
                <p><a href="mailto:#">email</a></p>
                <p>9.00 – 18.00 (будние дни)</p>
                <p>  Прием заказов – без выходных</p>
                
            </div>

            

            <div class="header_link" >
                <a class="waves-effect red accent-2 btn" href="/request">Оставить заявку</a>
            </div>
        </div>
    </div>
</div>