<nav>
    <div class="nav-wrapper red accent-2">
        <a href="/" class="brand-logo">Главная</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li> <a href="/technicpage">Строительная спецтехника</a> </li>
            <li> <a href="/">Коммунальная спецтехника</a> </li>
            <li> <a href="/">Дорожная спецтехника</a> </li>
            <li> <a href="/">Автомобильная спецтехника</a> </li>      
            
        </ul>
        <div class="nav_menuList"> 
            <a href="/menu">
                <img src="https://img.icons8.com/ios/40/000000/menu-2.png">
            </a>  
        </div>
    </div>
</nav>