<p>Стоимость в Алматы с НДС- 26 000 долларов
</p>
<p>•	Надёжный двигатель по лицензии Ricardo / Рикардо (Англия) 
</p>
<p>•	Эргономичная кабина с превосходным обзором
</p>
<p>•	Максимальный объём ковша 1.4 м3
</p>
<p>•	Максимальная грузоподъёмность 2800 кг
</p>
<p>•	Надёжность, простота, качество
</p>
<table class="striped car_table">
        <thead>
        <tr>
            <td colspan="3"><center><strong>Технические Характеристики</strong></center></td>
        </tr>
        </thead>

        <tbody>

        <tr>
            <td colspan="3"><center><strong>Двигатель</strong></center></td>
        </tr>
		
            <tr>
              <td>Модель</td>
              <td></td>
              <td>WEICHAI HUAFENG / Вейчай Хуафен по лицензии Ricardo / Рикардо (Англия ) </td>
            </tr>

            <tr>
              <td>Тип</td>
              <td></td>
              <td>Дизельный, рядный, 4-х тактный, с водяным охлаждением</td>
            </tr>
         
            <tr>
              <td>Кол-во цилиндров</td>
              <td>4</td>
              <td></td>
            </tr>         

            <tr>
              <td>Минимальный удельный расход топлива</td>
              <td>239</td>
              <td>г/кВтч</td>
            </tr>         
          
            <tr>
              <td>Номинальная мощность</td>
              <td>60</td>
              <td>кВт / л.с</td>
            </tr>

        <tr>
            <td colspan="3"><center><strong>Основные параметры</strong></center></td>
        </tr>
		
            <tr>
              <td>Номинальная грузоподъёмность</td>
              <td>2800</td>
              <td>кг</td>
            </tr>
         
            <tr>
              <td>Рабочий вес</td>
              <td>6000</td>
              <td>кг</td>
            </tr>
          
            <tr>
              <td>Номинальный объём ковша</td>
              <td>1.4</td>
              <td>м3</td>
            </tr>
          
            <tr>
              <td>Максимальная высота разгрузки</td>
              <td>3550</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Максимальный вылет ковша</td>
              <td>1084</td>
              <td>мм</td>
            </tr>
         
            <tr>
              <td>Минимальный радиус поворота</td>
              <td>4500</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Время подъема стрелы</td>
              <td></td>
              <td>с</td>
            </tr>
          
            <tr>
              <td>Скорость движения вперед</td>
              <td>30</td>
              <td>км/ч</td>
            </tr>

            <tr>
              <td>Скорость движения назад</td>
              <td></td>
              <td>км/ч</td>
            </tr>

            <tr>
              <td>Минимальный радиус поворота</td>
              <td></td>
              <td>мм</td>
            </tr>
         
            <tr>
              <td>Способ управления</td>
              <td></td>
              <td>Рычаг/Джойстик</td>
            </tr>
          
            <tr>
              <td>Габариты ДxШxВ</td>
              <td>6200х2300х2780</td>
              <td>мм</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Ходовая часть</strong></center></td>
        </tr>
		
            <tr>
              <td>Тип главного редуктор</td>
              <td></td>
              <td>Одноступенчатая планетарная передача</td>
            </tr>

            <tr>
              <td>Тип бортового редуктор</td>
              <td></td>
              <td>Однорядная планетарная передача</td>
            </tr>			
		
            <tr>
              <td>Колёсная база</td>
              <td>2570</td>
              <td>м</td>
            </tr>
           
            <tr>
              <td>Ширина колеи</td>
              <td>1420</td>
              <td>м</td>
            </tr>
                
            <tr>
              <td>Минимальный дорожный просвет</td>
              <td></td>
              <td>м</td>
            </tr>

            <tr>
              <td>Шины, размер, профиль</td>
              <td></td>
              <td></td>
            </tr>
			
        </tbody>
    </table>