<p>Стоимость в Алматы с НДС 51 000 долларов США
</p>
<p>•	Надёжный двигатель по лицензии STEYR / ШТАЙЕР (Австрия) 
</p>
<p>•	Эргономичная кабина с превосходным обзором
</p>
<p>•	Объём ковша 3.0 м3
</p>
<p>•	Грузоподъёмность 5000 кг
</p>
<p>•	Джойстиковое или рычажное управление
</p>
<p>•	Опционально в кабине кондиционер
</p>
<p>•	Надёжность, простота, качество
</p>
<table class="striped car_table">
        <thead>
        <tr>
            <td colspan="3"><center><strong>Технические Характеристики</strong></center></td>
        </tr>
        </thead>

        <tbody>

        <tr>
            <td colspan="3"><center><strong>Двигатель</strong></center></td>
        </tr>
		
            <tr>
              <td>Модель</td>
              <td></td>
              <td>WEICHAI STEYR / Вейчай Штаер (Австрия) WD10G220E23</td>
            </tr>

            <tr>
              <td>Тип</td>
              <td></td>
              <td>Дизельный, рядный, 4-х тактный, водяное охлаждение, турбонаддув</td>
            </tr>
         
            <tr>
              <td>Кол-во цилиндров</td>
              <td>6</td>
              <td></td>
            </tr>         

            <tr>
              <td>Максимальный крутящий момент</td>
              <td>800</td>
              <td>Нм</td>
            </tr>  
			
            <tr>
              <td>Минимальный удельный расход топлива</td>
              <td>215</td>
              <td>г/кВтч</td>
            </tr>         
          
            <tr>
              <td>Номинальная мощность</td>
              <td>220</td>
              <td>кВт / л.с</td>
            </tr>

        <tr>
            <td colspan="3"><center><strong>Основные параметры</strong></center></td>
        </tr>
		
            <tr>
              <td>Номинальная грузоподъёмность</td>
              <td>5000</td>
              <td>кг</td>
            </tr>
         
            <tr>
              <td>Рабочий вес</td>
              <td>17100</td>
              <td>кг</td>
            </tr>
          
            <tr>
              <td>Номинальный объём ковша</td>
              <td>3.0</td>
              <td>м3</td>
            </tr>
          
            <tr>
              <td>Максимальная высота разгрузки</td>
              <td>3100</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Максимальный вылет ковша</td>
              <td>1200</td>
              <td>мм</td>
            </tr>
         
            <tr>
              <td>Минимальный радиус поворота</td>
              <td>6745</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Время подъема стрелы</td>
              <td>5.95</td>
              <td>с</td>
            </tr>
          
            <tr>
              <td>Скорость движения вперед</td>
              <td>38</td>
              <td>км/ч</td>
            </tr>

            <tr>
              <td>Скорость движения назад</td>
              <td>34</td>
              <td>км/ч</td>
            </tr>

            <tr>
              <td>Минимальный радиус поворота</td>
              <td>6745</td>
              <td>мм</td>
            </tr>         

            <tr>
              <td>Способ управления</td>
              <td></td>
              <td>Рычаг/Джойстик</td>
            </tr>   
			
            <tr>
              <td>Габариты ДxШxВ</td>
              <td>8020х3060х3485</td>
              <td>мм</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Ходовая часть</strong></center></td>
        </tr>
		
            <tr>
              <td>Тип главного редуктор</td>
              <td></td>
              <td>Одноступенчатая планетарная передача</td>
            </tr>

            <tr>
              <td>Тип бортового редуктор</td>
              <td></td>
              <td>Однорядная планетарная передача</td>
            </tr>			
		
            <tr>
              <td>Колёсная база</td>
              <td>3200</td>
              <td>м</td>
            </tr>
           
            <tr>
              <td>Ширина колеи</td>
              <td>2250</td>
              <td>м</td>
            </tr>
                
            <tr>
              <td>Минимальный дорожный просвет</td>
              <td>458</td>
              <td>м</td>
            </tr>

            <tr>
              <td>Шины, размер, профиль</td>
              <td>23.5-25</td>
              <td></td>
            </tr>
		
        </tbody>
    </table>