<p>Стоимость в Алматы с НДС- 33 000 долларов США
</p>
<p>•	Надёжный двигатель по лицензии DEUTZ / ДОЙЦ (Германия) 
</p>
<p>•	Эргономичная кабина с превосходным обзором
</p>
<p>•	Максимальный объём ковша 1.8 м3
</p>
<p>•	Грузоподъёмность 3000 кг
</p>
</p>
<p>•	Опционально в кабине кондиционер
</p>
<p>•	Надёжность, простота, качество
</p>
<table class="striped car_table">
        <thead>
        <tr>
            <td colspan="3"><center><strong>Технические Характеристики</strong></center></td>
        </tr>
        </thead>

        <tbody>

        <tr>
            <td colspan="3"><center><strong>Двигатель</strong></center></td>
        </tr>
		
            <tr>
              <td>Модель</td>
              <td></td>
              <td>Weichai DEUTZ (Вейчай ДОЙЦ, Германия) WP6G125E22 (TD226B-6) </td>
            </tr>

            <tr>
              <td>Тип</td>
              <td></td>
              <td>Дизельный, вертикальный, рядный, 4-х тактный, с водяным охлаждением, турбонаддув </td>
            </tr>
         
            <tr>
              <td>Кол-во цилиндров</td>
              <td>6</td>
              <td></td>
            </tr>         

            <tr>
              <td>Максимальный крутящий момент</td>
              <td></td>
              <td>Нм</td>
            </tr>  
			
            <tr>
              <td>Минимальный удельный расход топлива</td>
              <td>≤208</td>
              <td>г/кВтч</td>
            </tr>         
          
            <tr>
              <td>Номинальная мощность</td>
              <td>125</td>
              <td>кВт / л.с</td>
            </tr>

        <tr>
            <td colspan="3"><center><strong>Основные параметры</strong></center></td>
        </tr>
		
            <tr>
              <td>Номинальная грузоподъёмность</td>
              <td>3000</td>
              <td>кг</td>
            </tr>
         
            <tr>
              <td>Рабочий вес</td>
              <td>10000</td>
              <td>кг</td>
            </tr>
          
            <tr>
              <td>Номинальный объём ковша</td>
              <td>1.8</td>
              <td>м3</td>
            </tr>
          
            <tr>
              <td>Максимальная высота разгрузки</td>
              <td>3350</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Максимальный вылет ковша</td>
              <td>1200</td>
              <td>мм</td>
            </tr>
         
            <tr>
              <td>Минимальный радиус поворота</td>
              <td>5700</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Время подъема стрелы</td>
              <td>4,83</td>
              <td>с</td>
            </tr>
          
            <tr>
              <td>Скорость движения вперед</td>
              <td>34</td>
              <td>км/ч</td>
            </tr>

            <tr>
              <td>Скорость движения назад</td>
              <td>31,5</td>
              <td>км/ч</td>
            </tr>

            <tr>
              <td>Минимальный радиус поворота</td>
              <td>5700</td>
              <td>мм</td>
            </tr>         
          
            <tr>
              <td>Габариты ДxШxВ</td>
              <td>7100x2430x3120</td>
              <td>мм</td>
            </tr> 
			
        </tbody>
    </table>