<p> Cтоимость в Алматы с НДС- 85 000 долларов США
</p>
<p>•	Надёжный двигатель 
</p>
<p>•	Эргономичная кабина с превосходным обзором
</p>
<p>•	Объём ковша 3.5 - 4.5 м3
</p>
<p>•	Грузоподъёмность 7000 кг
</p>
<p>•	Джойстиковое управление
</p>
<p>•	В кабине кондиционер
</p>
<p>•	Надёжность, простота, качество
</p>
<table class="striped car_table">
        <thead>
        <tr>
            <td colspan="3"><center><strong>Технические Характеристики</strong></center></td>
        </tr>
        </thead>

        <tbody>

        <tr>
            <td colspan="3"><center><strong>Двигатель</strong></center></td>
        </tr>
		
            <tr>
              <td>Модель</td>
              <td></td>
              <td>SC11CB240G2B1</td>
            </tr>

            <tr>
              <td>Тип</td>
              <td></td>
              <td>Рядный, 4-х тактный, водяное охлаждение</td>
            </tr>
         
            <tr>
              <td>Кол-во цилиндров</td>
              <td>6</td>
              <td></td>
            </tr>         

            <tr>
              <td>Максимальный крутящий момент</td>
              <td>843</td>
              <td>Нм</td>
            </tr>  
			
            <tr>
              <td>Минимальный удельный расход топлива</td>
              <td>≤220</td>
              <td>г/кВтч</td>
            </tr>         
          
            <tr>
              <td>Номинальная мощность</td>
              <td>175</td>
              <td>кВт / л.с</td>
            </tr>

        <tr>
            <td colspan="3"><center><strong>Основные параметры</strong></center></td>
        </tr>
		
            <tr>
              <td>Номинальная грузоподъёмность</td>
              <td>7000</td>
              <td>кг</td>
            </tr>
         
            <tr>
              <td>Рабочий вес</td>
              <td>20000</td>
              <td>кг</td>
            </tr>
          
            <tr>
              <td>Номинальный объём ковша</td>
              <td>3.5 - 4.5</td>
              <td>м3</td>
            </tr>
          
            <tr>
              <td>Максимальная высота разгрузки</td>
              <td>3450</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Максимальный вылет ковша</td>
              <td>1255</td>
              <td>мм</td>
            </tr>
         
            <tr>
              <td>Минимальный радиус поворота</td>
              <td>6500</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Время подъема стрелы</td>
              <td>6.15±0.25</td>
              <td>с</td>
            </tr>
          
            <tr>
              <td>Скорость движения вперед</td>
              <td>38</td>
              <td>км/ч</td>
            </tr>

            <tr>
              <td>Скорость движения назад</td>
              <td>34</td>
              <td>км/ч</td>
            </tr>

            <tr>
              <td>Минимальный радиус поворота</td>
              <td>6500</td>
              <td>мм</td>
            </tr>         

            <tr>
              <td>Способ управления</td>
              <td></td>
              <td>Рычаг/Джойстик</td>
            </tr>   
			
            <tr>
              <td>Габариты ДxШxВ</td>
              <td>8350х3200х3480</td>
              <td>мм</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Ходовая часть</strong></center></td>
        </tr>
		
            <tr>
              <td>Тип главного редуктор</td>
              <td></td>
              <td>Одноступенчатая планетарная передача</td>
            </tr>

            <tr>
              <td>Тип бортового редуктор</td>
              <td></td>
              <td>Однорядная планетарная передача</td>
            </tr>			
		
            <tr>
              <td>Колёсная база</td>
              <td>3350</td>
              <td>м</td>
            </tr>
           
            <tr>
              <td>Ширина колеи</td>
              <td>2250</td>
              <td>м</td>
            </tr>
                
            <tr>
              <td>Минимальный дорожный просвет</td>
              <td>520</td>
              <td>м</td>
            </tr>

            <tr>
              <td>Шины, размер, профиль</td>
              <td>26.5 - 25</td>
              <td></td>
            </tr>
		
        </tbody>
    </table>