
<form action="/add" method="POST">
    <div class="container add">
    <h1>добавить в базу</h1>

    <div class="input-field col s6">
      <input name="title" id="title" type="text" class="validate">
      <label class="active" for="title">Название</label>
    </div>
    

     <div class="input-field col s6">
      <input name="price" id="price" type="text" class="validate">
      <label class="active" for="price">Цена</label>
    </div>
    

     <div class="input-field col s6">
      <input name="description" id="description" type="text" class="validate">
      <label class="active" for="description">описание</label>
    </div>
    
    <div class="input-field col s6">
      <input name="img" id="img" type="text" class="validate">
      <label class="active" for="img">картинка</label>
    </div>

     <div class="input-field col s6">
      <input name="motor" id="motor" type="text" class="validate">
      <label class="active" for="motor">Мотор</label>
    </div>
    

     <div class="input-field col s6">
      <input name="fullPower" id="fullPower" type="text" class="validate">
      <label class="active" for="fullPower">Полная мощность</label>
    </div>
    

     <div class="input-field col s6">
      <input name="netPower" id="netPower" type="text" class="validate">
      <label class="active" for="netPower">Полезная мощность</label>
    </div>
    

     <div class="input-field col s6">
      <input name="operatingWeight" id="operatingWeight" type="text" class="validate">
      <label class="active" for="operatingWeight">Эксплутационная масса</label>
    </div>
    

     <div class="input-field col s6">
      <input name="bucketCapacity" id="bucketCapacity" type="text" class="validate">
      <label class="active" for="bucketCapacity">Стандартная вместимость ковша</label>
    </div>
    


     <div class="input-field col s6">
      <input name="breakingForce" id="breakingForce" type="text" class="validate">
      <label class="active" for="breakingForce">Стандартное вырывное усилие</label>
    </div>
    

     <div class="input-field col s6">
      <input name="dischargeHeight" id="dischargeHeight" type="text" class="validate">
      <label class="active" for="dischargeHeight">Стандартная высота выгрузки</label>
    </div>
    

     <div class="input-field col s6">
      <input name="maxDischargeHeight" id="maxDischargeHeight" type="text" class="validate">
      <label class="active" for="maxDischargeHeight">Максимальная высота выгрузки</label>
    </div>
    

     <div class="input-field col s6">
      <input name="movementSpeedForward" id="movementSpeedForward" type="text" class="validate">
      <label class="active" for="movementSpeedForward">Макс скорость вперед</label>
    </div>
    

     <div class="input-field col s6">
      <input name="movementSpeedBack" id="movementSpeedBack" type="text" class="validate">
      <label class="active" for="movementSpeedBack">Макс скорость назад</label>
    </div>
    

     <div class="input-field col s6">
      <input name="gearsForward" id="gearsForward" type="text" class="validate">
      <label class="active" for="gearsForward">Количество передач вперед</label>
    </div>
    

     <div class="input-field col s6">
      <input name="gearsBack" id="gearsBack" type="text" class="validate">
      <label class="active" for="gearsBack">Количество передач назад</label>
    </div>
    

     <div class="input-field col s6">
      <input name="lengthWithBucketDown" id="lengthWithBucketDown" type="text" class="validate">
      <label class="active" for="lengthWithBucketDown">Длина с опущенным ковшом</label>
    </div>

     <div class="input-field col s6">
      <input name="widthWithTires" id="widthWithTires" type="text" class="validate">
      <label class="active" for="widthWithTires">Ширина с колесами</label>
    </div>

     <div class="input-field col s6">
      <input name="wheelsBase" id="wheelsBase" type="text" class="validate">
      <label class="active" for="wheelsBase">Колесная база</label>
    </div>

     <div class="input-field col s6">
      <input name="track" id="track" type="text" class="validate">
      <label class="active" for="track">Колея</label>
    </div>

     <div class="input-field col s6">
      <input name="clearance" id="clearance" type="text" class="validate">
      <label class="active" for="clearance">Клиренс</label>
    </div>

    <button class="orange btn" type="submit">
        загрузить в базу
    </button>

    </div>
</form>