<div class="container carpage">
    <h1> {{front.title}}</h1>
    <img  class="carpage_img" src="http://localhost:3000/img/{{front.brand}}/{{front.title}}.png" alt="error img">
    {{!-- <p>Цена с учетом пошлины, ндс, сертификации и доставки DDP Almaty - <strong class="price">{{front.price}}</strong></p> --}}
      {{#ifEquals front.title 'LG300'}}
          {{> lgzt/LG300}}
      {{/ifEquals}}
      {{#ifEquals front.title 'T933L'}}
          {{> lgzt/T933L}}
      {{/ifEquals}}
      {{#ifEquals front.title 'T936L'}}
          {{> lgzt/T936L}}
      {{/ifEquals}}
      {{#ifEquals front.title 'T939L'}}
          {{> lgzt/T939L}}
      {{/ifEquals}}
      {{#ifEquals front.title 'T945L'}}
          {{> lgzt/T945L}}
      {{/ifEquals}}

      {{!-- XCMG --}}

     {{#ifEquals front.title 'LW300KN'}}
          {{> xcmg/LW300KN}}
      {{/ifEquals}}
      {{#ifEquals front.title 'LW500FN'}}
          {{> xcmg/LW500FN}}
      {{/ifEquals}}
      {{#ifEquals front.title 'LW300FN'}}
          {{> xcmg/LW300FN}}
      {{/ifEquals}}
      {{#ifEquals front.title 'LW800K'}}
          {{> xcmg/LW800K}}
      {{/ifEquals}}
      {{#ifEquals front.title 'LW900KN'}}
          {{> xcmg/LW900KN}}
      {{/ifEquals}}
      {{#ifEquals front.title 'LW1200'}}
          {{> xcmg/LW1200}}
      {{/ifEquals}}
      {{#ifEquals front.title 'ZL50GN'}}
          {{> xcmg/ZL50GN}}
      {{/ifEquals}}
      {{#ifEquals front.title 'LW600K'}}
          {{> xcmg/LW600K}}
      {{/ifEquals}}

      {{! -- XGMA --}}

      {{#ifEquals front.title 'XG931H'}}
          {{> xgma/XG931H}}
      {{/ifEquals}}
      {{#ifEquals front.title 'XG932H'}}
          {{> xgma/XG932H}}
      {{/ifEquals}}
      {{#ifEquals front.title 'XG955H'}}
          {{> xgma/XG955H}}
      {{/ifEquals}}
      {{#ifEquals front.title 'XG982H'}}
          {{> xgma/XG982H}}
      {{/ifEquals}}

      {{! -- BRENNER --}}

      {{#ifEquals front.title 'Brenner968'}}
          {{> brenner/Brenner968}}
      {{/ifEquals}}
      {{#ifEquals front.title 'Brenner977'}}
          {{> brenner/Brenner977}}
      {{/ifEquals}}
      {{#ifEquals front.title 'Brenner928'}}
          {{> brenner/Brenner928}}
      {{/ifEquals}}
      {{#ifEquals front.title 'Brenner936'}}
          {{> brenner/Brenner936}}
      {{/ifEquals}}
      {{#ifEquals front.title 'Brenner938'}}
          {{> brenner/Brenner938}}
      {{/ifEquals}}
      {{#ifEquals front.title 'Brenner956'}}
          {{> brenner/Brenner956}}
      {{/ifEquals}}
      {{#ifEquals front.title 'Brenner958'}}
          {{> brenner/Brenner958}}
      {{/ifEquals}}
    
    {{! -- LONKING --}}
      {{#ifEquals front.title 'LG833G'}}
          {{> lonking/LG833G}}
      {{/ifEquals}}
      {{#ifEquals front.title 'LG855N'}}
          {{> lonking/LG855N}}
      {{/ifEquals}}

       {{! -- FOTON LOVOL --}}
      {{#ifEquals front.title 'FL935E'}}
          {{> foton lovol/FL935E-II}}
      {{/ifEquals}}
      {{#ifEquals front.title 'FL938G'}}
          {{> foton lovol/FL938G-II}}
      {{/ifEquals}}
      {{#ifEquals front.title 'FL953'}}
          {{> foton lovol/FL953}}
      {{/ifEquals}}
      {{#ifEquals front.title 'FL955F'}}
          {{> foton lovol/FL955F-II}}
      {{/ifEquals}}
      {{#ifEquals front.title 'FL958G'}}
          {{> foton lovol/FL958G-II}}
      {{/ifEquals}}

    <a class="waves-effect orange btn" href="/request">Оставить заявку</a>
</div>


