<div class="technic_page">

    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Бензовозы и Топливозаправщики</a>
    </div>
     <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Водовозы и Поливомоечные </a>
    </div>
     <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Уборочные машины</a>
    </div>
     <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Ассенизаторы и каналопромывки</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Самосвалы</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/comunalpage/garbagetechnicpage">Мусоровозы</a>
    </div>
     <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Манипуляторы</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Катки</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Бульдозеры</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Асфальтоукладчики</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Автокраны</a>
    </div>
     <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Экскаваторы</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Фронтальные погрузчики</a>
    </div>
    
</div>
  