<div class="container carpage">
    <h1>{{fuel.brand}} {{fuel.title}}</h1>
    <img  class="carpage_img" src="http://localhost:3000/img/fuel/{{fuel.title}}.png" alt="error img">
    {{!-- <p>Цена с учетом пошлины, ндс, сертификации и доставки DDP Almaty - <strong class="price">{{front.price}}</strong></p> --}}
      {{#ifEquals garbage.title 'LG300'}}
          {{> lgzt/LG300}}
      {{/ifEquals}}
      <p>Тест для бенза</p>

    <a class="waves-effect orange btn" href="/request">Оставить заявку</a>
</div>


