<div class="main">
<h1>«Машинариум»</h1>
<h4>ПРОДАЖА СПЕЦТЕХНИКИ ЛЮБОГО НАЗНАЧЕНИЯ</h4>
<p>
     ТОО «Машинариум» осуществляет свою деятельность по продаже в строительно-дорожной спецтехники и является официальным диллером в Казахстане, таких торговых марок как: "PALFINGER SANY", "FOTON LOVOL", "CLW", "XGMA", "XCMG", "SHACMAN", "DONGFENG", "HOWO", "KINGRUN", "DFAC", "JAC" и других заводов.
</p>      



    <div class="parallax-container mobile_none">
      <div class="parallax"><img class="paralax_img1" src="http://localhost:3000/img/paralax1.jpg"></div>
    </div>
    <div class="section white">
      <div class="main_flex">
         <div class="col s6 main_flexItem">
            <h4>Строительная спецтехника </h4>
            <div class="carousel">   
                <a class="carousel-item" href="#one!">
                    <span>Погрузчики</span>
                    <img src="https://tipdoma.com/wp-content/uploads/2019/05/wheel-loaders_f.png" alt="error1">
                </a>
                <a class="carousel-item" href="#two!">
                    <span>Автокраны</span>
                    <img src="http://pngimg.com/uploads/crane/crane_PNG22.png" alt="error2">
                </a>
                <a class="carousel-item" href="#three!">
                    <span>Эсковаторы</span>
                    <img src="https://www.ileasing.ru/upload/iblock/4ba/4bac0a8be4e14a08db00082248486d31.png" alt="error3">
                </a>
                <a class="carousel-item" href="#four!">
                    <span>Самосвалы</span>
                    <img src="http://yarkamp-leasing.ru/upload/iblock/2e1/2e169fb441eb7afceed277e4fc45fab5.png" alt="error4">
                </a>
            </div>
        </div>

        <div class="col s6  main_flexItem">
            <h4> Коммунальная спецтехника </h4>
            <div class="carousel">   
                <a class="carousel-item" href="#one!">
                    <span>Поливалки</span>
                    <img src="https://www.kommash.ru/data/objects/123/panorama/1.png" alt="error1">
                </a>
                <a class="carousel-item" href="#two!">
                    <span>Ассенизатор</span>
                    <img src="https://sposad.assenizatory24.ru/themes/1/images/kamaz.png" alt="error2">
                </a>
                <a class="carousel-item" href="#three!">
                    <span>Автотопливозаправщики</span>
                    <img src="http://www.zavod-start.ru/files/images/66131-04.png" alt="error3">
                </a>
                <a class="carousel-item" href="#four!">
                    <span>Водовозы</span>
                    <img src="https://storage.googleapis.com/multi-static-content/previews/artage-io-thumb-5089497553e360611ed376126ffe0857.png" alt="error4">
                </a>
            </div>
        </div>

 
    </div> 
   

    <div class="main_flex">
         <div class="col s6 main_flexItem">
            <h4>Дорожная спецтехника </h4>
            <div class="carousel">   
                <a class="carousel-item" href="#one!">
                    <span>Грейдеры</span>
                    <img src="https://liderplus74.ru/sites/default/files/category/dz122.png" alt="error1">
                </a>
                <a class="carousel-item" href="#two!">
                    <span>Бульдозеры</span>
                    <img src="http://pngimg.com/uploads/bulldozer/bulldozer_PNG16428.png" alt="error2">
                </a>
                <a class="carousel-item" href="#three!">
                    <span>Катки </span>
                    <img src="http://www.greenstroy36.ru/upload/iblock/88e/88e05f4487d8abaec64516178304476c.png" alt="error3">
                </a>
               
            </div>
        </div>

        <div class="col s6 main_flexItem">
            <h4> Автомобильная спецтехника </h4>
            <div class="carousel">   
                <a class="carousel-item" href="#one!">
                    <span>Автобусы</span>
                    <img src="https://clipart-db.ru/file_content/rastr/bus-002.png" alt="error1">
                </a>
                <a class="carousel-item" href="#two!">
                    <span>Тягочи</span>
                    <img src="https://www.ileasing.ru/upload/iblock/a0f/a0f04db566d6fcf7ac81fb6ff24b525a.png" alt="error2">
                </a>
                <a class="carousel-item" href="#three!">
                    <span>Самосвалы</span>
                    <img  src="http://yarkamp-leasing.ru/upload/iblock/2e1/2e169fb441eb7afceed277e4fc45fab5.png" alt="error3">
                </a>
            
            </div>
        </div>


    </div>
    </div>
    <div class="parallax-container mobile_none paralax2">
      <div class="parallax"><img class="paralax_img2" src="http://localhost:3000/img/paralax2.jpg" alt="error paralax img"></div>
    </div>



    
    
</div>