<ul  class="mobile_menu">
    <li> <a href="/technicpage">Строительная спецтехника</a> </li>
    <li> <a href="/">Коммунальная спецтехника</a> </li>
    <li> <a href="/">Дорожная спецтехника</a> </li>
    <li> <a href="/">Автомобильная спецтехника</a> </li>      

</ul>