<div class="technic_page">
    
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">ГНБ</a>
    </div>
     <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Самоходные </a>
    </div>
     <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Роторные</a>
    </div>
     <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Пирамидальная стойка</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Буровая мобильная</a>
    </div>
    
</div>