<div class="technic_page">
   
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Катки</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Самосвалы</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Экскаваторы</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Бульдозеры</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Асфальтоукладчики</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Фронтальные погрузчики</a>
    </div>

</div>
  