<div class="technic_page">
   
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Фронтальные погрузчики</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Автокраны</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Башенные краны</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Автобетоносмесители</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Миксеры с самозагрузкой</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Автобетонанасосы</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Самосвалы</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Экскаваторы</a>
    </div>
    <div class="technic_page_unit_front">
         <a href="/technicpage/fronttechnicpage">Бульдозеры</a>
    </div>

</div>
  