<p>Стоимость DDP Almaty 44 800$
</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>LG946L</td>
              <td>Ед.изм</td>
            </tr>
        </thead>

        <tbody>
			
        <tr>
            <td colspan="3"><center><strong>Основные Характеристики</strong></center></td>
        </tr>
		
            <tr>
              <td>Вместимость ковша</td>
              <td>2,3</td>
              <td>м³</td>
            </tr>

            <tr>
              <td>Грузоподъемность</td>
              <td>4000</td>
              <td>кг</td>
            </tr>
         
            <tr>
              <td>Высота разгрузки при 45 град</td>
              <td>2950</td>
              <td>мм</td>
            </tr>         

            <tr>
              <td>Вырывное усилие</td>
              <td>125</td>
              <td>кН</td>
            </tr>         
          
            <tr>
              <td>Ширина режущей кромки ковша</td>
              <td>2550</td>
              <td>мм</td>
            </tr>
       
            <tr>
              <td>Продолжительность рабочего цикла</td>
              <td>10,2</td>
              <td>с</td>
            </tr>
         
            <tr>
              <td>Эксплуатационная масса</td>
              <td>12,7</td>
              <td>т</td>
            </tr>
         
            <tr>
              <td>Органы управления погрузочным оборудованием</td>
              <td></td>
              <td>Джойстик</td>
            </tr>
         
            <tr>
              <td>Модель двигателя</td>
              <td></td>
              <td>Weichai WP6G160E201 по лицензии "DEUTZ" Германия</td>
            </tr>
         
            <tr>
              <td>Мощность</td>
              <td>160</td>
              <td>л.с</td>
            </tr>
         
            <tr>
              <td>Удельный расход топлива</td>
              <td>210</td>
              <td>г/кВт*ч</td>
            </tr>
         
            <tr>
              <td>Тип трансмиссии</td>
              <td></td>
              <td>Гидромеханическая</td>
            </tr>
         
            <tr>
              <td>Модель трансмиссии</td>
              <td></td>
              <td>SDLG</td>
            </tr>
         
            <tr>
              <td>Число передач вперед</td>
              <td>2</td>
              <td></td>
            </tr>
         
            <tr>
              <td>Число передач назад</td>
              <td>1</td>
              <td></td>
            </tr>	
			
        <tr>
            <td colspan="3"><center><strong>Комлектация</strong></center></td>
        </tr>
		
            <tr>
              <td>Отопитель</td>
              <td></td>
              <td>есть</td>
            </tr>
          
            <tr>
              <td>Кондиционер</td>
              <td></td>
              <td>есть</td>
            </tr>
		
            <tr>
              <td>Быстросъемное оборудование</td>
              <td></td>
              <td>нет</td>
            </tr>
         
            <tr>
              <td>Дополнительная гидролиния</td>
              <td></td>
              <td>нет</td>
            </tr>
         
            <tr>
              <td>Комплектация</td>
              <td></td>
              <td>Кондиционер, отопитель</td>
            </tr>
          
            <tr>
              <td>Дополнительные опции</td>
              <td></td>
              <td>органы управления-джойстики, кондиционер</td>
            </tr>
          
            <tr>
              <td>Навесное оборудование</td>
              <td></td>
              <td>Увеличенный ковш (угольный) 2,5 м3</td>
            </tr>
			
        <tr>
            <td colspan="3"><center><strong>Разное</strong></center></td>
        </tr>
		
            <tr>
              <td>Габаритные размеры</td>
              <td>7350х2540х3240</td>
              <td>мм (Длина*Ширина*Высота)</td>
            </tr>
			
            <tr>
              <td>Тип рулевого управления</td>
              <td></td>
              <td>Гидравлическое</td>
            </tr>

            <tr>
              <td>Угол поворота колес</td>
              <td>38</td>
              <td>°</td>
            </tr>
		
            <tr>
              <td>Минимальный радиус поворота (по кромке ковша)</td>
              <td>6116</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Рабочее давление в гидросистеме</td>
              <td>16</td>
              <td>МПа</td>
            </tr>
		
            <tr>
              <td>Гидравлическая система объем</td>
              <td>124</td>
              <td>л</td>
            </tr>
         
            <tr>
              <td>Шины</td>
              <td></td>
              <td>20,5-25</td>
            </tr>
         
            <tr>
              <td>Рабочие тормоза</td>
              <td></td>
              <td>Сухие дисковые с пневмогидроприводом на 4 колеса</td>
            </tr>
          
            <tr>
              <td>Стояночный тормоз</td>
              <td></td>
              <td>Дисковый с пневмоприводом</td>
            </tr>
          
            <tr>
              <td>Топливный бак</td>
              <td>140</td>
              <td>л</td>
            </tr>

            <tr>
              <td>Тип рамы</td>
              <td></td>
              <td>Шарнирно-сочлененная с гидравлическим приводом</td>
            </tr>
			
            <tr>
              <td>Максимальная скорость</td>
              <td>38</td>
              <td>км/ч</td>
            </tr>

        </tbody>
    </table>