<p>Цена DDP Алматы -  $55 000 тенге
Срок поставки: 30 дней.
</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>LG952N</td>
              <td>Ед.изм</td>
            </tr>
        </thead>

        <tbody>
			
        <tr>
            <td colspan="3"><center><strong>Основные характеристики</strong></center></td>
        </tr>
         
            <tr>
              <td>Грузоподъемность</td>
              <td>5000</td>
              <td>кг</td>
            </tr>    
          
            <tr>
              <td>Эксплуатационная масса</td>
              <td>16450</td>
              <td>кг</td>
            </tr>
			
            <tr>
              <td>Управление</td>
              <td>джойстик</td>
              <td></td>
            </tr>
			
        <tr>
            <td colspan="3"><center><strong>Двигатель</strong></center></td>
        </tr>
		
            <tr>
              <td>Модель двигателя</td>
              <td>Weichai  WD10G220E23</td>
              <td></td>
            </tr>
		
            <tr>
              <td>Тип двигателя</td>
              <td>Weichai  WD10G220E23</td>
              <td></td>
            </tr>
			
            <tr>
              <td>Мощность двигателя</td>
              <td>162 (220)</td>
              <td>кВт (л.с.)</td>
            </tr>     
			
        <tr>
            <td colspan="3"><center><strong>Топливная система</strong></center></td>
        </tr>
		
            <tr>
              <td>Максимальная скорость</td>
              <td>38</td>
              <td>км/ч</td>
            </tr>         
			
        <tr>
            <td colspan="3"><center><strong>Размеры</strong></center></td>
        </tr>
         
            <tr>
              <td>Габаритные размеры</td>
              <td>7794*3024*3368</td>
              <td>мм</td>
            </tr>
			
        <tr>
            <td colspan="3"><center><strong>Заправочные емкости</strong></center></td>
        </tr>
          
            <tr>
              <td>Топливный бак</td>
              <td>260</td>
              <td>л</td>
            </tr>

            <tr>
              <td>Гидробак</td>
              <td>240</td>
              <td>л</td>
            </tr>
			
        <tr>
            <td colspan="3"><center><strong>Эксплуатационные характеристики</strong></center></td>
        </tr>
		
            <tr>
              <td>Высота выгрузки</td>
              <td>3080</td>
              <td>мм</td>
            </tr>
			
        <tr>
            <td colspan="3"><center><strong>Колёса</strong></center></td>
        </tr>
          
            <tr>
              <td>Шины</td>
              <td>23,5-25</td>
              <td></td>
            </tr>
			
        <tr>
            <td colspan="3"><center><strong>Навесное оборудование</strong></center></td>
        </tr>

            <tr>
              <td>Вид рабочего органа</td>
              <td>Ковш</td>
              <td></td>
            </tr>
         
            <tr>
              <td>Вместимость ковша</td>
              <td>3,0</td>
              <td>куб.м.</td>
            </tr>
          
            <tr>
              <td>Ширина режущей кромки ковша</td>
              <td>3024</td>
              <td>мм</td>
            </tr>
			
        <tr>
            <td colspan="3"><center><strong>Другие характеристики</strong></center></td>
        </tr>

            <tr>
              <td>Вид шасси</td>
              <td>Колёса</td>
              <td></td>
            </tr>
			
        </tbody>
    </table>