<p>Цена DDP Алматы – $55 500(рычаг)/$57 000 (джойстик)
Срок поставки – 30-35 дней.
</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>LG953N</td>
              <td>Ед.изм</td>
            </tr>
        </thead>

        <tbody>
			
        <tr>
            <td colspan="3"><center><strong>Основные Характеристики</strong></center></td>
        </tr>
		
            <tr>
              <td>Вместимость ковша</td>
              <td>3</td>
              <td>м³</td>
            </tr>

            <tr>
              <td>Грузоподъемность</td>
              <td>5000</td>
              <td>кг</td>
            </tr>
			
            <tr>
              <td>Ширина режущей кромки</td>
              <td>3024</td>
              <td>мм</td>
            </tr>  
			
            <tr>
              <td>Органы управления погрузочным оборудованием</td>
              <td></td>
              <td>Джойстик</td>
            </tr>

            <tr>
              <td>Мах. Высота выгрузки (по креплению погрузочного ковша к стреле погрузчика)</td>
              <td>4064</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Высота выгрузка (при раскрытии ковша под углом 45º, по нижнюю кромку ковша)</td>
              <td>3050</td>
              <td>мм</td>
            </tr>
			
            <tr>
              <td>Дальность разгрузки (при опрокинутом ковше в 45º) </td>
              <td>1148</td>
              <td>мм</td>
            </tr>         
			
            <tr>
              <td>Максимальная скорость</td>
              <td>40,5</td>
              <td>км/ч</td>
            </tr>
          
            <tr>
              <td>Рабочее давление в гидросистеме</td>
              <td>18</td>
              <td>МПа</td>
            </tr>
			
            <tr>
              <td>Вырывное усилие</td>
              <td>≥ 16000</td>
              <td>кг</td>
            </tr>   
       
            <tr>
              <td>Продолжительность рабочего цикла</td>
              <td>≤ 10,0</td>
              <td>с</td>
            </tr>
			
            <tr>
              <td>Максимально преодолимый подъем</td>
              <td>29</td>
              <td>º</td>
            </tr>
            
            <tr>
              <td>Шины</td>
              <td></td>
              <td>23,5-25</td>
            </tr>
			
            <tr>
              <td>Эксплуатационная масса</td>
              <td>16600</td>
              <td>кг</td>
            </tr>
		
            <tr>
              <td>Габаритные размеры</td>
              <td>7753×3024×3423</td>
              <td>мм (Длина*Ширина*Высота)</td>
            </tr>
			
        <tr>
            <td colspan="3"><center><strong>Двигатель</strong></center></td>
        </tr>		
		
            <tr>
              <td>Тип двигателя</td>
              <td></td>
              <td>Дизель, турбированный, с водяным охлаждением, прямой впрыск</td>
            </tr>
			
            <tr>
              <td>Модель двигателя</td>
              <td></td>
              <td>Weichai WD10G220E11</td>
            </tr>
         
            <tr>
              <td>Мощность</td>
              <td>162 (220)</td>
              <td>кВт(л.с.)</td>
            </tr>
         
            <tr>
              <td>Удельный расход топлива</td>
              <td>≤ 215</td>
              <td>г/кВт*ч</td>
            </tr>
			
        <tr>
            <td colspan="3"><center><strong>Коробка передач</strong></center></td>
        </tr>
		
            <tr>
              <td>Тип трансмиссии</td>
              <td>SDLG</td>
              <td>Планетарная, с переключением под нагрузкой, реверсивная</td>
            </tr>
		
            <tr>
              <td>Число передач:</td>
              <td>2/1</td>
              <td>вперед/ назад</td>
            </tr>
			
            <tr>
              <td>Рабочие тормоза</td>
              <td></td>
              <td>Сухие дисковые с пневмогидроприводом на 4 колеса</td>
            </tr>
          
            <tr>
              <td>Стояночный тормоз</td>
              <td></td>
              <td>Ручной дисковый</td>
            </tr>
			
        <tr>
            <td colspan="3"><center><strong>Заправочные емкости</strong></center></td>
        </tr>
		
            <tr>
              <td>Топливный бак</td>
              <td>270</td>
              <td>л</td>
            </tr>
		
            <tr>
              <td>Гидравлика</td>
              <td>270</td>
              <td>л</td>
            </tr>
		
            <tr>
              <td>Мост</td>
              <td>2 × 27</td>
              <td>л</td>
            </tr>
		
            <tr>
              <td>Двигатель </td>
              <td>20</td>
              <td>л</td>
            </tr>
		
            <tr>
              <td>Трансмиссия </td>
              <td>45</td>
              <td>л</td>
            </tr>
		
            <tr>
              <td>Тормозная система </td>
              <td>4</td>
              <td>л</td>
            </tr>
			
        </tbody>
    </table>