<p>Стоимость DDP Almaty 61 000$
</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>LG956L</td>
              <td>Ед.изм</td>
            </tr>
        </thead>

        <tbody>
			
        <tr>
            <td colspan="3"><center><strong>Основные Характеристики</strong></center></td>
        </tr>
		
            <tr>
              <td>Вместимость ковша</td>
              <td>3</td>
              <td>м³</td>
            </tr>

            <tr>
              <td>Грузоподъемность</td>
              <td>5000</td>
              <td>кг</td>
            </tr>
         
            <tr>
              <td>Высота разгрузки при 45 град</td>
              <td>3120</td>
              <td>мм</td>
            </tr>         

            <tr>
              <td>Вырывное усилие</td>
              <td>180</td>
              <td>кН</td>
            </tr>         
          
            <tr>
              <td>Ширина режущей кромки ковша</td>
              <td>3024</td>
              <td>мм</td>
            </tr>
       
            <tr>
              <td>Продолжительность рабочего цикла</td>
              <td>11,3</td>
              <td>с</td>
            </tr>
         
            <tr>
              <td>Эксплуатационная масса</td>
              <td>16,9</td>
              <td>т</td>
            </tr>
         
            <tr>
              <td>Органы управления погрузочным оборудованием</td>
              <td></td>
              <td>Джойстик</td>
            </tr>
         
            <tr>
              <td>Модель двигателя</td>
              <td></td>
              <td>Weichai WD10G220E13</td>
            </tr>
         
            <tr>
              <td>Мощность</td>
              <td>220</td>
              <td>л.с</td>
            </tr>
         
            <tr>
              <td>Удельный расход топлива</td>
              <td>210</td>
              <td>г/кВт*ч</td>
            </tr>
         
            <tr>
              <td>Тип трансмиссии</td>
              <td></td>
              <td>Гидромеханическая</td>
            </tr>
         
            <tr>
              <td>Модель трансмиссии</td>
              <td></td>
              <td>SDLG</td>
            </tr>
         
            <tr>
              <td>Число передач вперед</td>
              <td>2</td>
              <td></td>
            </tr>
         
            <tr>
              <td>Число передач назад</td>
              <td>1</td>
              <td></td>
            </tr>	
			
        <tr>
            <td colspan="3"><center><strong>Комлектация</strong></center></td>
        </tr>
		
            <tr>
              <td>Отопитель</td>
              <td></td>
              <td>есть</td>
            </tr>
          
            <tr>
              <td>Кондиционер</td>
              <td></td>
              <td>есть</td>
            </tr>
		
            <tr>
              <td>Быстросъемное оборудование</td>
              <td></td>
              <td>нет</td>
            </tr>
         
            <tr>
              <td>Дополнительная гидролиния</td>
              <td></td>
              <td>есть</td>
            </tr>
         
            <tr>
              <td>Комплектация</td>
              <td></td>
              <td>Кондиционер, отопитель</td>
            </tr>
          
            <tr>
              <td>Дополнительные опции</td>
              <td></td>
              <td>Кабина ROPS/FOPS, Двигатель Shangchai SC11CB220G2B1, Двигатель Dalian Deutz BF61013</td>
            </tr>
          
            <tr>
              <td>Навесное оборудование</td>
              <td></td>
              <td>Ковш с боковой разгрузкой, Палетные вилы, Увеличенный ковш (угольный) 3,6 м3 / 4,2 м3 / 4,5 м3, снежный отвал, снежный отвал с 3-мя секциями, бревнозахват, сенозахват</td>
            </tr>
			
        <tr>
            <td colspan="3"><center><strong>Разное</strong></center></td>
        </tr>
		
            <tr>
              <td>Габаритные размеры</td>
              <td>8040х3060х3382</td>
              <td>мм (Длина*Ширина*Высота)</td>
            </tr>
			
            <tr>
              <td>Тип рулевого управления</td>
              <td></td>
              <td>Гидравлическое</td>
            </tr>

            <tr>
              <td>Угол поворота колес</td>
              <td>38</td>
              <td>°</td>
            </tr>
		
            <tr>
              <td>Минимальный радиус поворота (по кромке ковша)</td>
              <td>6746</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Рабочее давление в гидросистеме</td>
              <td>18</td>
              <td>МПа</td>
            </tr>
		
            <tr>
              <td>Гидравлическая система объем</td>
              <td>210</td>
              <td>л</td>
            </tr>
         
            <tr>
              <td>Шины</td>
              <td></td>
              <td>23,5-25</td>
            </tr>
         
            <tr>
              <td>Рабочие тормоза</td>
              <td></td>
              <td>Сухие дисковые с пневмогидроприводом на 4 колеса</td>
            </tr>
          
            <tr>
              <td>Стояночный тормоз</td>
              <td></td>
              <td>Дисковый с пневмоприводом</td>
            </tr>
          
            <tr>
              <td>Топливный бак</td>
              <td>295</td>
              <td>л</td>
            </tr>

            <tr>
              <td>Тип рамы</td>
              <td></td>
              <td>Шарнирно-сочлененная с гидравлическим приводом</td>
            </tr>
			
            <tr>
              <td>Максимальная скорость</td>
              <td>40,5</td>
              <td>км/ч</td>
            </tr>

        </tbody>
    </table>