<p>Цена DDP Алматы  -  13 700 000 тенге. 
Усиленный ковш – 500 000 тенге.
Срок поставки: 35 - 40  дней.
</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>XG932H</td>
              <td>Ед.изм</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Двигатель</td>
              <td>Yuchai YC6J125Z T20</td>
              <td></td>
            </tr>

            <tr>
              <td>Номинальная мощность при 2200 об/мин</td>
              <td>92</td>
              <td>кВт</td>
            </tr>
         
            <tr>
              <td>Грузоподъемность</td>
              <td>3000</td>
              <td>кг</td>
            </tr>         

            <tr>
              <td>Емкость ковша</td>
              <td>1,8</td>
              <td>м3</td>
            </tr>         
          
            <tr>
              <td>Эксплуатационная масса</td>
              <td>10800</td>
              <td>кг</td>
            </tr>
       
            <tr>
              <td>Общая длина</td>
              <td>6970</td>
              <td>мм</td>
            </tr>
         
            <tr>
              <td>Высота до верха кабины</td>
              <td>3330</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Ширина по шинам</td>
              <td>2245</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Колесная база</td>
              <td>2750</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Минимальный дорожный просвет</td>
              <td>356</td>
              <td>мм</td>
            </tr>
         
            <tr>
              <td>Ширина колеи</td>
              <td>1800</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Ширина ковша</td>
              <td>2245</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Радиус поворота по шинам</td>
              <td>5280</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Радиус поворота по внешней кромке ковша</td>
              <td>5450</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Высота оси шарнира</td>
              <td>3930</td>
              <td>мм</td>
            </tr>
         
            <tr>
              <td>Максимальная высота разгрузки</td>
              <td>3060</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Дальность разгрузки</td>
              <td>1020</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Глубина копания</td>
              <td>100</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Максимальный угол наклона ковша в транспортном положении</td>
              <td>50</td>
              <td>°</td>
            </tr>
		
            <tr>
              <td>Макс. скорость (вперед) </td>
              <td>40/td>
              <td>км/ч</td>
            </tr>
           
            <tr>
              <td>Макс. скорость (назад) </td>
              <td>16</td>
              <td>км/ч</td>
            </tr>
                
            <tr>
              <td>Кол-во передача (вперед) </td>
              <td>2</td>
              <td></td>
            </tr>

            <tr>
              <td>Кол-во передача (назад) </td>
              <td>1</td>
              <td></td>
            </tr>
		
            <tr>
              <td>Кол-во цилиндров</td>
              <td>6</td>
              <td></td>
            </tr>

            <tr>
              <td>Максимальный крутящий момент</td>
              <td>500</td>
              <td>Нм</td>
            </tr>
			
            <tr>
              <td>Удельный расход топлива</td>
              <td><235</td>
              <td>г/кВт*ч</td>
            </tr>
			
            <tr>
              <td>Время подъема</td>
              <td>5,7</td>
              <td>сек</td>
            </tr>

            <tr>
              <td>Общее время цикла</td>
              <td><10,2</td>
              <td>сек</td>
            </tr>
			
            <tr>
              <td>Максимальное усилие отрыва</td>
              <td>100</td>
              <td>кН</td>
            </tr>
			
            <tr>
              <td>Максимальный угол поворота</td>
              <td>35</td>
              <td>°</td>
            </tr>

            <tr>
              <td>Объем топливного бака</td>
              <td>140</td>
              <td>л</td>
            </tr>
			
            <tr>
              <td>Объем гидробака </td>
              <td>л</td>
              <td>160</td>
            </tr>
			
            <tr>
              <td>Рабочее давление гидравлической системы рулевого управления</td>
              <td>13</td>
              <td>МПа</td>
            </tr>

            <tr>
              <td>Рабочее давление гидравлической системы погрузки</td>
              <td>16</td>
              <td>МПа</td>
            </tr>

            <tr>
              <td>Размер шин</td>
              <td>17,5-25 12PR</td>
              <td></td>
            </tr>
			
            <tr>
              <td>Кабина</td>
              <td>С кондиционером</td>
              <td></td>
            </tr>
			
            <tr>
              <td>Управление</td>
              <td>рычаг</td>
              <td></td>
            </tr>
			
        </tbody>
    </table>