<p>Цена DDP Алматы -  12 400 000 тенге (рычаг)/ 12 900 000 тенге (джойстик) 
Цена без НДС для ТОО и ИП – 11 400 000 тенге.
Срок поставки: 10 дней.
</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>XG931H</td>
              <td>Ед.изм</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Двигатель</td>
              <td>Yuchai YC6J125Z T21</td>
              <td></td>
            </tr>

            <tr>
              <td>Номинальная мощность при 2300 об/мин</td>
              <td>92</td>
              <td>кВт</td>
            </tr>
         
            <tr>
              <td>Грузоподъемность</td>
              <td>3000</td>
              <td>кг</td>
            </tr>         

            <tr>
              <td>Емкость ковша</td>
              <td>1,8</td>
              <td>м3</td>
            </tr>         
          
            <tr>
              <td>Эксплуатационная масса</td>
              <td>10000</td>
              <td>кг</td>
            </tr>
       
            <tr>
              <td>Общая длина</td>
              <td>6970</td>
              <td>мм</td>
            </tr>
         
            <tr>
              <td>Высота до верха кабины</td>
              <td>3350</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Ширина по шинам</td>
              <td>2245</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Колесная база</td>
              <td>2750</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Минимальный дорожный просвет</td>
              <td>358</td>
              <td>мм</td>
            </tr>
         
            <tr>
              <td>Ширина колеи</td>
              <td>1800</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Ширина ковша</td>
              <td>2420</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Радиус поворота по шинам</td>
              <td>5280</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Радиус поворота по внешней кромке ковша</td>
              <td>5860</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Высота оси шарнира</td>
              <td>3930</td>
              <td>мм</td>
            </tr>
         
            <tr>
              <td>Максимальная высота разгрузки</td>
              <td>3060</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Дальность разгрузки</td>
              <td>1020</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Глубина копания</td>
              <td>100</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Максимальный угол наклона ковша в транспортном положении</td>
              <td>50</td>
              <td>°</td>
            </tr>
			
        <tr>
            <td colspan="3"><center><strong>Скорость передвижения</strong></center></td>
        </tr>
		
            <tr>
              <td>Вперед 1-ая передача</td>
              <td>0-7</td>
              <td>км/ч</td>
            </tr>
           
            <tr>
              <td>Вперед 2-ая передача</td>
              <td>0-13</td>
              <td>км/ч</td>
            </tr>
                
            <tr>
              <td>Вперед 3-ая передача</td>
              <td>0-25</td>
              <td>км/ч</td>
            </tr>

            <tr>
              <td>Вперед 4-ая передача</td>
              <td>0-41</td>
              <td>км/ч</td>
            </tr>
		
            <tr>
              <td>Назад 1-ая передачаа</td>
              <td>0-9</td>
              <td>км/ч</td>
            </tr>

            <tr>
              <td>Назад 2-ая передача</td>
              <td>0-30</td>
              <td>км/ч</td>
            </tr>

            <tr>
              <td>Максимальный крутящий момент</td>
              <td>500</td>
              <td>Нм</td>
            </tr>
			
            <tr>
              <td>Удельный расход топлива</td>
              <td><235</td>
              <td>г/кВт*ч</td>
            </tr>
			
            <tr>
              <td>Время подъема</td>
              <td>5,7</td>
              <td>сек</td>
            </tr>

            <tr>
              <td>Общее время цикла</td>
              <td><10,2</td>
              <td>сек</td>
            </tr>
			
            <tr>
              <td>Максимальное усилие отрыва</td>
              <td>100</td>
              <td>кН</td>
            </tr>
			
            <tr>
              <td>Максимальный угол поворота</td>
              <td>35</td>
              <td>°</td>
            </tr>

            <tr>
              <td>Объем топливного бака</td>
              <td>178</td>
              <td>л</td>
            </tr>
			
            <tr>
              <td>Объем гидробака </td>
              <td>л</td>
              <td>150</td>
            </tr>
			
            <tr>
              <td>Рабочее давление гидравлической системы рулевого управления</td>
              <td>13</td>
              <td>МПа</td>
            </tr>

            <tr>
              <td>Рабочее давление гидравлической системы погрузки</td>
              <td>16</td>
              <td>МПа</td>
            </tr>

            <tr>
              <td>Производительность насоса погрузочного оборудования</td>
              <td>206</td>
              <td>л/мин</td>
            </tr>

            <tr>
              <td>Производительность насоса рулевого управления</td>
              <td>-</td>
              <td>л/мин</td>
            </tr>

            <tr>
              <td>Размер шин</td>
              <td>17,5-25 12PR</td>
              <td></td>
            </tr>
			
            <tr>
              <td>Кабина</td>
              <td>С кондиционером</td>
              <td></td>
            </tr>
			
            <tr>
              <td>Управление</td>
              <td>рычаг/джойстик</td>
              <td></td>
            </tr>
			
        </tbody>
    </table>