<p>Цена DDP Алматы – 21 000 000 тенге (рычаг)/ 22 000 000 тенге (джойстик) 
Цена без НДС для ТОО и ИП -  19 000 000 тенге
</p>
<p>Доставка: 700 000 тенге (ЖД транспорт)
Срок поставки – 10 дней
</p>
<table class="striped car_table">
        <thead>
        <tr>
            <td colspan="3"><center><strong>Двигатель</strong></center></td>
        </tr> 		
        </thead>

        <tbody>

            <tr>
              <td>Параметры</td>
              <td>XG955H</td>
              <td>Ед.изм</td>
            </tr>
		
            <tr>
              <td>Модель двигатели</td>
              <td></td>
              <td>Shangchai SC11CB220G2B1</td>
            </tr>

            <tr>
              <td>Полная мощности</td>
              <td>162 (220) 2,200</td>
              <td>Полная мощности	Квт/л-с/об-мин</td>
            </tr>
             
            <tr>
              <td>Снаряженная масса</td>
              <td>17200</td>
              <td>кг</td>
            </tr>         
          
            <tr>
              <td>Стандартный объём ковша</td>
              <td>3</td>
              <td>м³</td>
            </tr>
       
            <tr>
              <td>Макс. вырывное усилие</td>
              <td>170</td>
              <td>кН</td>
            </tr>
                   
            <tr>
              <td>Макс. высота выгрузки</td>
              <td>3,215</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Соответствует стандарту</td>
              <td></td>
              <td>Tier 2 / StageII SC11CB220G2B1</td>
            </tr>
		
            <tr>
              <td>Управление</td>
              <td></td>
              <td>рычаг/джойстик</td>
            </tr>           
                
            <tr>
              <td>Количество цилиндров</td>
              <td>6</td>
              <td></td>
            </tr>
			
            <tr>
              <td>Макс. крутящий момент</td>
              <td>844</td>
              <td>Нм</td>
            </tr>

            <tr>
              <td>Рабочий объём</td>
              <td>11</td>
              <td>л</td>
            </tr>

            <tr>
              <td>Метод впуска</td>
              <td></td>
              <td>Наддув турбинных</td>
            </tr>

        <tr>
            <td colspan="3"><center><strong>Трансмиссия</strong></center></td>
        </tr> 	

            <tr>
              <td>Тип трансмиссии</td>
              <td></td>
              <td>Силовое переключение передач</td>
            </tr>

            <tr>
              <td>Вариатор</td>
              <td></td>
              <td>одноступенчатый，четыре элемента</td>
            </tr>
			
            <tr>
              <td>Макс. скорость (вперед) </td>
              <td>38</td>
              <td>Км/ч</td>
            </tr>	

            <tr>
              <td>Макс. скорость (назад) </td>
              <td>16</td>
              <td>Км/ч</td>
            </tr>

            <tr>
              <td>Кол-во передача (вперед) </td>
              <td>2</td>
              <td></td>
            </tr>
			
            <tr>
              <td>Кол-во передача (назад)  </td>
              <td>1</td>
              <td></td>
            </tr>

        <tr>
            <td colspan="3"><center><strong>Мосты</strong></center></td>
        </tr> 	

            <tr>
              <td>Дифференциал переднего тип</td>
              <td>Сягунский</td>
              <td></td>
            </tr>
			
            <tr>
              <td>Колебания мостов</td>
              <td>10</td>
              <td></td>
            </tr>

            <tr>
              <td>Рулевое управление </td>
              <td>шарнирно-сочлененная</td>
              <td></td>
            </tr>
			
            <tr>
              <td>Давление разгрузки</td>
              <td>15</td>
              <td>мПа</td>
            </tr>

        <tr>
            <td colspan="3"><center><strong>Тормоза</strong></center></td>
        </tr> 	

            <tr>
              <td>Тормоз</td>
              <td>сухой дисковый суппорт</td>
              <td></td>
            </tr>

            <tr>
              <td>Активация тормоза</td>
              <td>гидравлическая</td>
              <td></td>
            </tr>

            <tr>
              <td>Тип стояночного тормоза</td>
              <td>руковой/давление воздуха</td>
              <td></td>
            </tr>

            <tr>
              <td>Активация стояночного тормоза</td>
              <td>давление воздуха</td>
              <td></td>
            </tr>

        <tr>
            <td colspan="3"><center><strong>Гидравлическая система</strong></center></td>
        </tr> 

            <tr>
              <td>Тип главного насоса</td>
              <td>шестерённая</td>
              <td></td>
            </tr>

            <tr>
              <td>Главного давление разгрузки</td>
              <td>16</td>
              <td>мПа</td>
            </tr>
			
            <tr>
              <td>Подъём</td>
              <td>16</td>
              <td>мПа</td>
            </tr>
			
            <tr>
              <td>Макс. время полного цикла</td>
              <td>11</td>
              <td>сек</td>
            </tr>

            <tr>
              <td>Макс время отпускания</td>
              <td>5,8</td>
              <td>сек</td>
            </tr>

        <tr>
            <td colspan="3"><center><strong>Работа стрелы погрузчика</strong></center></td>
        </tr> 

            <tr>
              <td>Усилие отрыва</td>
              <td>170</td>
              <td>кН</td>
            </tr>

            <tr>
              <td>Угол разгрузки (макс. высота разгрузка)</td>
              <td>45</td>
              <td>º</td>
            </tr>

            <tr>
              <td>Просвет разгрузки(макс. высота разгрузка) </td>
              <td>3,215</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Дальность разгрузки(макс. высота разгрузка) </td>
              <td>4,120</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Глубина копания</td>
              <td>80</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Угол возварата ковша на уровне грунта</td>
              <td>42,1</td>
              <td>º</td>
            </tr>

            <tr>
              <td>Угол возварата ковша при перемещении</td>
              <td>49,2</td>
              <td>º</td>
            </tr>

            <tr>
              <td>Угол возварата ковша на макс. высота</td>
              <td>54,5</td>
              <td>º</td>
            </tr>

        <tr>
            <td colspan="3"><center><strong>Размеры</strong></center></td>
        </tr> 

            <tr>
              <td>Эксплуатационная длина</td>
              <td>7710</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Ширина по шинам</td>
              <td>2880</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Колесная база</td>
              <td>2880</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Колея</td>
              <td>2240</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Дорожный просвет</td>
              <td>500</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Угол поворота</td>
              <td>35</td>
              <td>º</td>
            </tr>

            <tr>
              <td>Угол съезда</td>
              <td>30</td>
              <td>º</td>
            </tr>

            <tr>
              <td>Радиус поворота по внешнему краю шин</td>
              <td>6050</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Радиус поворота по центру шин</td>
              <td>5775</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Радиус поворота при движении ковша</td>
              <td>6650</td>
              <td>мм</td>
            </tr>

        <tr>
            <td colspan="3"><center><strong>Шины</strong></center></td>
        </tr> 

            <tr>
              <td>Размер шин</td>
              <td>23,5 - 25</td>
              <td></td>
            </tr>

        <tr>
            <td colspan="3"><center><strong>Эксплуатационные ёмкости</strong></center></td>
        </tr> 

            <tr>
              <td>Топливный бак</td>
              <td>220</td>
              <td>л</td>
            </tr>

            <tr>
              <td>Гидравлический бак</td>
              <td>295</td>
              <td>л</td>
            </tr>

            <tr>
              <td>Масляный бак</td>
              <td>19</td>
              <td>л</td>
            </tr>

            <tr>
              <td>Систем охлаждения</td>
              <td>43</td>
              <td>л</td>
            </tr>

            <tr>
              <td>Трансмиссия</td>
              <td>41</td>
              <td>л</td>
            </tr>

            <tr>
              <td>Ось, каждая</td>
              <td>26</td>
              <td>л</td>
            </tr>

            <tr>
              <td>Кабина</td>
              <td>С кондиционером</td>
              <td></td>
            </tr>

            <tr>
              <td>Управление</td>
              <td>рычажное</td>
              <td></td>
            </tr>
			
        </tbody>
    </table>