<p>Цена DDP Алматы:  $293 000. 
Гарантийный период: 12 месяцев или 2000 моточасов
Срок поставки: 40  дней.
</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>XG982H</td>
              <td>Ед.изм</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Номинальная мощность</td>
              <td>250</td>
              <td>(кВт) </td>
            </tr>

            <tr>
              <td>Объем ковша/td>
              <td>4.4</td>
              <td>(м. куб.) </td>
            </tr>
         
            <tr>
              <td>Грузоподъемность</td>
              <td>8000</td>
              <td>(кг)</td>
            </tr>         

            <tr>
              <td>Модель двигателя</td>
              <td>Cummins QSM11-C335</td>
              <td></td>
            </tr>         
          
            <tr>
              <td>Номинальная скорость двигателя</td>
              <td>2200</td>
              <td>(об/мин) </td>
            </tr>
       
            <tr>
              <td>Максимальный крутящий момент</td>
              <td>844/908</td>
              <td>(Н•м) </td>
            </tr>
         
            <tr>
              <td>Эксплуатационная масса</td>
              <td>28700</td>
              <td>(кг) </td>
            </tr>
          
            <tr>
              <td>Время подъема</td>
              <td>7.4</td>
              <td>(с) </td>
            </tr>
          
            <tr>
              <td>Максимальное усилие отрыва </td>
              <td>170</td>
              <td>(кН) </td>
            </tr>

            <tr>
              <td>Объем топливного бака </td>
              <td>220</td>
              <td>(л) </td>
            </tr>
         
            <tr>
              <td>Объем гидравлического бака </td>
              <td>295</td>
              <td>(л) </td>
            </tr>
          
            <tr>
              <td>Рабочее давление гидравлической системы рулевого управления </td>
              <td>15</td>
              <td>(МПа) </td>
            </tr>
          
            <tr>
              <td>Рабочее давление гидравлической системы погрузки </td>
              <td>16</td>
              <td>(МПа) </td>
            </tr>

            <tr>
              <td>Производительность насоса погрузочного оборудования </td>
              <td>209</td>
              <td>(л/мин) </td>
            </tr>

            <tr>
              <td>Максимальная  скорость </td>
              <td>37</td>
              <td>(км/ч) </td>
            </tr>
         
            <tr>
              <td>Общая длина </td>
              <td>9120</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Высота кабины </td>
              <td>3450</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Ширина по шинам </td>
              <td>2880</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Колесная база </td>
              <td>3230</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Минимальный дорожный просвет </td>
              <td>500</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Ширина ковша  </td>
              <td>3000</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Радиус поворота по шинам  </td>
              <td>5775</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Радиус поворота по внешней кромке ковша  </td>
              <td>6650</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Высота разгрузки </td>
              <td>3215</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Максимальная глубина копания  </td>
              <td>80</td>
              <td>мм</td>
            </tr>

<p> Преимущества: </p>
<p>•	Благодаря гидравлической блокировке дифференциала повышаются внедорожные характеристики машины и её ходовые качества
</p>
<p>•	Полный набор оригинальных импортных комплектующих гидравлической системы сочетают оптимальную конфигурацию, высокую надежность, безопасность и долговечность
</p>
<p>•	Предохранительный гидравлический клапан рулевого управления позволяет эффективно снизить ударные нагрузки на руль
</p>
<p>•	Система автоматического выравнивания ковша позволяет существенно облегчить погрузочные работы и сократить рабочий цикл
</p>
<p>•	Гидравлическая система с комбинацией двух насосов с приоритетом рулевого управления гарантирует стабильную работу и высокую топливную экономичность
</p>
			
        </tbody>
    </table>