<p>Цена DDP Алматы – $42 000.</p>

<p> Преимущества: </p>
<p>•	Погрузчик оснащен двигателем Deutz WP6G140E22 (Германия), также опционально предусмотрено комплектация с двигателем Lovol 1006T
</p>
<p>•	Динамическое переключение передач отличается электрогидропневматическим управлением (мягкое переключение без рывков)
</p>
<p>•	Полностью закрытая кабина с амортизаторами отличается широким полем зрения комфортными и безопасными условиями работы
</p>
<p>•	Управление стрелой- джойстик
</p>
<p>•	Длинная колесная база обеспечивает высокую устойчивость
</p>
<p>•	Трансмиссия применена от 5тн погрузчика
</p>

<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>Ед.изм</td>
              <td>FL938G</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Номинальная нагрузка</td>
              <td>кг</td>
              <td>3500</td>
            </tr>

            <tr>
              <td>Эксплуатационный вес (стандартная компоновка) </td>
              <td>кг</td>
              <td>11000</td>
            </tr>
         
            <tr>
              <td>Номинальная емкость ковш-лопаты</td>
              <td>м3</td>
              <td>2</td>
            </tr>
         

            <tr>
              <td>Максимальное усилие копания</td>
              <td>кН</td>
              <td>125</td>
            </tr>
         
          
            <tr>
              <td>Максимальная сила тяги</td>
              <td>кН</td>
              <td>96</td>
            </tr>
       
            <tr>
              <td>Время трехчленной суммы</td>
              <td>с</td>
              <td>9.7</td>
            </tr>
         
            <tr>
              <td>Макс. высота выгрузки</td>
              <td>мм</td>
              <td>2940</td>
            </tr>
          
            <tr>
              <td>Макс. расстояние выгрузки</td>
              <td>мм</td>
              <td>1160</td>
            </tr>
          
            <tr>
              <td>Диапазон скоростей вперед</td>
              <td>км/ч</td>
              <td>0 - 36.5</td>
            </tr>
       
            <tr>
              <td>Диапазон скоростей назад</td>
              <td>км/ч</td>
              <td>0 - 35</td>
            </tr>
     
            <tr>
              <td>Габаритные размеры</td>
              <td>ДхШхВ</td>
              <td>7250х2420х3230</td>
            </tr>
			
            <tr>
              <td>Макс. угол поворота</td>
              <td>°</td>
              <td>36</td>
            </tr>
           
            <tr>
              <td>Макс. подъемопредолеваемость</td>
              <td>°</td>
              <td>30</td>
            </tr>
                
            <tr>
              <td>Мин. радиус поворота</td>
              <td>мм</td>
              <td>6005</td>
            </tr>
                 
            <tr>
              <td>Размер шин</td>
              <td></td>
              <td>17.5-25-12PR</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Параметры двигателя</strong></center></td>
        </tr>   
		
            <tr>
              <td>Модель</td>
              <td></td>
              <td>WP6G140E22</td>
            </tr>

            <tr>
              <td>Форма</td>
              <td></td>
              <td>6-цил., рядное, с наддувом, непосредственный впрыск</td>
            </tr>
			
            <tr>
              <td>Мощность двигателя</td>
              <td>Квт</td>
              <td>105</td>
            </tr>
                       
            <tr>
              <td>Макс. крутящий момент</td>
              <td>нм</td>
              <td>540 при 1500-1600 об./мин</td>
            </tr>
    
            <tr>
              <td>Диаметр цилиндра</td>
              <td>мм</td>
              <td>105</td>
            </tr>

            <tr>
              <td>Такт</td>
              <td>мм</td>
              <td>120</td>
            </tr>

            <tr>
              <td>Рабочий объем</td>
              <td>л</td>
              <td>6.234</td>
            </tr>

            <tr>
              <td>Расход топлива</td>
              <td>г / кВт.ч</td>
              <td>220</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Параметры двигателя</strong></center></td>
        </tr>   

            <tr>
              <td>Давление рабочей системы</td>
              <td>МПа</td>
              <td>16</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Тормозная система</strong></center></td>
        </tr> 

            <tr>
              <td>Форма тормозной системы движения</td>
              <td></td>
              <td>Одноконтурный, пневматический, четырехколесный дисковый тормоз</td>
            </tr>

            <tr>
              <td>Форма стояночной, аварийной тормозной системы</td>
              <td></td>
              <td>Дисковый тормоз</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Емкость топливаной системы</strong></center></td>
        </tr> 

            <tr>
              <td>Топливный бак</td>
              <td>л</td>
              <td>155</td>
            </tr>		

            <tr>
              <td>Гидробак</td>
              <td>л</td>
              <td>180</td>
            </tr>
			
        </tbody>
    </table>