<p>Цена DDP Алматы c НДС– 60 000 долларов США. 
Срок поставки – 15-20 рабочих дней. 
</p>
<table class="striped car_table">
    
    <thead>
        <tr>
            <td colspan="3"><center><strong>Технические характеристики</strong></center></td>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>Емкость ковша</td>
            <td>3,0</td>
            <td> м3</td>
        </tr>

        <tr>
            <td>Грузоподъемность</td>
            <td>5000</td>
            <td> кг</td>
        </tr>

        <tr>
            <td>Ширина режущей кромки</td>
            <td>3000</td>
            <td> мм</td>
        </tr>
            
        <tr>
            <td>Управление рабочим оборудованием</td>
            <td> рычаг</td>
            <td></td>
        </tr>
        
        <tr>
            <td>Макс. высота выгрузки (по креплению погрузочного ковша к стреле погрузчика) </td>
            <td>4184</td>
            <td> мм</td>
        </tr>
        
        <tr>
            <td>Высота выгрузки (при раскрытии ковша под углом 45º, по нижнюю кромку ковша) </td>
            <td>3080</td>
            <td> мм</td>
        </tr>
            
        <tr>
            <td>Дальность разгрузки (при опрокинутом ковше в 45º) </td>
            <td>1210</td>
            <td> мм</td>
        </tr>
               
        <tr>
            <td>Скорость передвижения</td>
            <td>38</td>
            <td> км/час</td>
        </tr>
                
        <tr>
            <td>Рабочее давление гидросистемыя</td>
            <td>16,0</td>
            <td> МПа</td>
        </tr>
           
        <tr>
            <td>Отрывное усилие</td>
            <td>≥ 170</td>
            <td> кг</td>
        </tr>
               
        <tr>
            <td>Продолжительность рабочего цикла</td>
            <td>≤ 11</td>
            <td> с</td>
        </tr>
    
        <tr>
            <td>Максимально преодолимый подъем</td>
            <td>30</td>
            <td> ˚</td>
        </tr>
        
        <tr>
            <td>Размерность шин</td>
            <td>23,5 - 25</td>
            <td></td>
        </tr>
        
        <tr>
            <td>Эксплуатационная масса</td>
            <td>17540</td>
            <td> кг</td>
        </tr>
    
        <tr>
            <td>Габаритные размеры</td>
            <td>7900 × 2240 × 3400</td>
            <td> мм</td>
        </tr>

        <tr>
            <td colspan="3"><center><strong>Двигатель</strong></center></td>
        </tr>

        <tr>
            <td colspan="2">Тип</td>
            <td colspan="2">Дизель, турбированный, с водяным охлаждением, прямой впрыск</td>
            <td></td>
        </tr>
    
        <tr>
            <td>Модель</td>
            <td>WD10G220E21</td>
            <td></td>
        </tr>
    
        <tr>
            <td>Производство</td>
			<td >Weichai (КНР) </td>
            <td></td>
        </tr>

        <tr>
            <td>Мощность</td>
            <td>162 (2200) </td>
            <td> кВт (л.с.) </td>
        </tr>

        <tr>
            <td>Удельный расход топлива</td>
            <td>≤ 215</td>
            <td>г/кВт*ч</td>
        </tr>

        <tr>
            <td colspan="3"><center><strong>Трансмиссия</strong></center></td>
        </tr>

        <tr>
            <td colspan="2">Тип гидротрансформатора</td>
            <td>Одноступенчатый, двухтурбинный, 4-элементный</td>
            <td></td>
        </tr>

        <tr>
            <td colspan="2">Тип трансмиссии</td>
            <td>Гидравлическая планетарная</td>
        </tr>
		
		<tr>
            <td colspan="2">Тип главного редуктора</td>
            <td>Спирально-коническая зубчатая одноступенчатая передача</td>
            <td></td>
        </tr>
		
		<tr>
            <td colspan="2">Бортовой редуктор</td>
            <td>Планетарный</td>
        </tr>
		
		<tr>
            <td colspan="2">Число передач: вперед/назад</td>
            <td>2/1</td>
        </tr>
		
		<tr>
            <td colspan="2">Производство</td>
            <td>Lonking</td>
        </tr>
		
        <tr>
            <td colspan="3"><center><strong>Тормозная система</strong></center></td>
        </tr>
		
		<tr>
            <td colspan="2">Рабочий тормоз</td>
            <td>Одноцепный дисковый сухого типа, гидравлический, действующий на 4 колеса</td>
        </tr>
		
		<tr>
            <td colspan="2">Стояночный тормоз</td>
            <td>С пневмоприводом, дисковый</td>
            <td></td>
        </tr>	

        <tr>
            <td colspan="3"><center><strong>Заправочные емкости</strong></center></td>
        </tr>		
		
        <tr>
            <td>Топливный бак</td>
            <td>235</td>
            <td>л</td>
        </tr>
		
        <tr>
            <td>Гидравлика</td>
            <td>265</td>
            <td>л</td>
        </tr>

        <tr>
            <td>Мост</td>
            <td>2 х 25</td>
            <td>л</td>
        </tr>

        <tr>
            <td>Трансмиссия</td>
            <td>45</td>
            <td>л</td>
        </tr>
		
    </tbody>

</table>