<p>Цена DDP Алматы – 8 500 000 тенге. 
Срок поставки - 15 - 20 дней.
</p>
<table class="striped car_table">
    
    <thead>
        <tr>
            <td>Параметры</td>
            <td>T939L</td>
			<td>Ед. Изм</td>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>Грузоподъемность</td>
            <td>3000</td>
            <td> кг</td>
        </tr>

        <tr>
            <td>Емкость ковша</td>
            <td>1.7</td>
            <td> м<sup>3</sup></td>
        </tr>

        <tr>
            <td>Макс. высота выгрузки</td>
            <td>3500</td>
            <td> мм</td>
        </tr>
            
        <tr>
            <td>Дальность выгрузки</td>
            <td>1100</td>
            <td> мм</td>
        </tr>
        
        <tr>
            <td>Суммарное время рабочего цикла</td>
            <td>12</td>
            <td> с</td>
        </tr>
        
        <tr>
            <td>Макс. подъемная cила</td>
            <td>≥42</td>
            <td>≥ кН</td>
        </tr>
            
        <tr>
            <td>Мин. радиус разворота</td>
            <td>5900</td>
            <td> мм</td>
        </tr>
               
        <tr>
            <td>Скорость передвижения</td>
            <td>25</td>
            <td> км/час</td>
        </tr>
                
        <tr>
            <td>Угол поворота</td>
            <td>33</td>
            <td> °</td>
        </tr>

        <tr>
            <td>Количество цилиндров</td>
            <td>4</td>
            <td></td>
        </tr>
		
        <tr>
            <td>Габаритные размеры (Д*Ш*В)</td>
            <td>6600*2270*2850</td>
            <td> мм</td>
        </tr>
               
        <tr>
            <td>Размеры ковша</td>
            <td>2400х620х1000</td>
            <td> мм</td>
        </tr>
    
        <tr>
            <td>Колесная база</td>
            <td>2660</td>
            <td> мм</td>
        </tr>
        
        <tr>
            <td>Колея</td>
            <td>1650</td>
            <td> мм</td>
        </tr>
        
        <tr>
            <td>Миним. клиренс</td>
            <td>430</td>
           <td> мм</td>
        </tr>
    
        <tr>
            <td>Эксплуатационная масса</td>
            <td>7500</td>
            <td> кг</td>
        </tr>

        <tr>
            <td>Двигатель</td>
            <td></td>
            <td>YUNNEI  YN48GBZ</td>
        </tr>

        <tr>
            <td>Топливо для двигателя</td>
            <td></td>
            <td>Дизель</td>
        </tr>
    
        <tr>
            <td>Мощность</td>
            <td>92</td>
            <td> квт</td>
        </tr>
    
        <tr>
            <td>Удельный Расход топлива</td>
            <td>≤228</td>
            <td>≤ г/кВт.ч</td>
        </tr>

        <tr>
            <td>Давление в гидросистеме</td>
            <td>18</td>
            <td> МПа</td>
        </tr>

        <tr>
            <td>Шины</td>
            <td>16/70-24</td>
            <td> </td>
        </tr>

        <tr>
            <td>Управление</td>
            <td>Джойстик</td>
            <td> </td>
        </tr>

        <tr>
            <td>Кабина</td>
            <td>С кондиционером</td>
            <td> </td>
        </tr>

        <tr>
            <td>Дополнительно</td>
            <td>Гидролиния, камера заднего вида, турбина, подогрев</td>
            <td> </td>
        </tr>
            
    </tbody>

</table>