<p>Цена с учетом пошлины, ндс, сертификации и доставки DDP Almaty - 64,000$
</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>CLG856H</td>
              <td>Ед.изм</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Двигатель</td>
              <td>Cummins 6LT9.3</td>
              <td></td>
            </tr>

            <tr>
              <td>Полная мощность</td>
              <td>162 </td>
              <td>кВт</td>
            </tr>
         
            <tr>
              <td>Полезная мощность</td>
              <td>154 </td>
              <td>кВт</td>
            </tr>         

            <tr>
              <td>Эксплуатационная масса</td>
              <td>17100 </td>
              <td>кг</td>
            </tr>         
          
            <tr>
              <td>Стандартная вместимость ковша</td>
              <td>3,3 </td>
              <td>м<sup>3</sup></td>
            </tr>
       
            <tr>
              <td>Стандартное вырывное усилие</td>
              <td>173 </td>
              <td>кН</td>
            </tr>
         
            <tr>
              <td>Стандартная высота выгрузки</td>
              <td>3100 </td>
              <td>мм</td>
            </tr>
			
        <tr>
            <td colspan="3"><center><strong>Макс. скорость движения:</strong></center></td>
        </tr>
		
            <tr>
              <td>вперед</td>
              <td>39,7 </td>
              <td>км/ч</td>
            </tr>
          
            <tr>
              <td>назад</td>
              <td>16,3 </td>
              <td>км/ч</td>
            </tr>
			
        <tr>
            <td colspan="3"><center><strong>Количество передач:</strong></center></td>
        </tr>
		
            <tr>
              <td>передний ход</td>
              <td>2</td>
              <td></td>
            </tr>
         
            <tr>
              <td>задний ход</td>
              <td>1</td>
              <td></td>
            </tr>
         
            <tr>
              <td>Максимальная высота разгрузки</td>
              <td>3020 </td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Длина с опущенным ковшом</td>
              <td>8253 </td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Ширина по шинам</td>
              <td>2750 </td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Колесная база</td>
              <td>3320 </td>
              <td>мм</td>
            </tr>
			
            <tr>
              <td>Колея</td>
              <td>2150  </td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Клиренс</td>
              <td>431 </td>
              <td>мм</td>
            </tr>
			
        </tbody>
    </table>