<p>Цена с учетом пошлины, ндс, сертификация и доставка DDP Almaty:
</p>
<p>Стандартный ковш, Рычаг - 63 000$
</p>
<p>Стандартный ковш, Джойстик - 65 000$
</p>
</p>
<p>Со Скальным ковшом (Съемные зубья), Рычаг - 64 000$
</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>CLG855H</td>
              <td>Ед.изм</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Эксплуатационная масса</td>
              <td>16700</td>
              <td>кг</td>
            </tr>  

            <tr>
              <td>Грузоподъемность</td>
              <td>5000</td>
              <td>кг</td>
            </tr>  

            <tr>
              <td>Объем ковша</td>
              <td>3</td>
              <td>м³</td>
            </tr> 
			
            <tr>
              <td>Двигатель</td>
              <td>Cummins 6LT9.3</td>
              <td></td>
            </tr>

            <tr>
              <td>Мощность двигателя</td>
              <td>220  </td>
              <td>л.с</td>
            </tr>
         
            <tr>
              <td>Максимальный полезный крутящий момент</td>
              <td>890</td>
              <td>Нм</td>
            </tr>                
          
            <tr>
              <td>Объем двигателя</td>
              <td>9,3 </td>
              <td>л</td>
            </tr>
       
            <tr>
              <td>Количество скоростей(передние/задние)</td>
              <td>2/1</td>
              <td></td>
            </tr>
         
            <tr>
              <td>Максимальная скорость движения (передняя/задняя)</td>
              <td>40/16</td>
              <td>км/ч</td>
            </tr>
		
            <tr>
              <td>Угол поворота</td>
              <td>36</td>
              <td>°</td>
            </tr>
          
            <tr>
              <td>Рабочее давление в гидросистеме</td>
              <td>18 </td>
              <td>МПа</td>
            </tr>			
		
            <tr>
              <td>Тормозная система</td>
              <td></td>
              <td>Пневматическая</td>
            </tr>
         
            <tr>
              <td>Трансмиссия</td>
              <td></td>
              <td>Liugong, планетарная</td>
            </tr>
         
            <tr>
              <td>Высота выгрузки</td>
              <td>3120</td>
              <td>мм</td>
            </tr>
          
            <tr>
              <td>Рабочий цикл</td>
              <td>10,7 </td>
              <td>с</td>
            </tr>
          
            <tr>
              <td>Максимальное усилие вырывания ковшом</td>
              <td>167</td>
              <td>кН</td>
            </tr>

            <tr>
              <td>Размер шин</td>
              <td>23,5-25</td>
              <td></td>
            </tr>
			
            <tr>
              <td>Рулевой механизм</td>
              <td></td>
              <td>Шарнирно–сочленённая рама, с полным гидроприводом</td>
            </tr>

            <tr>
              <td>Габариты</td>
              <td>7900×2970×3450</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Клиренс</td>
              <td>485 </td>
              <td>мм</td>
            </tr>
			
        </tbody>
    </table>