<p>Цена с учетом пошлины, ндс, сертификация и доставка DDP Almaty – 23 млн тенге
</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>ZL50CN</td>
              <td>Ед.изм</td>
            </tr>
        </thead>

        <tbody>
			
        <tr>
            <td colspan="3"><center><strong>Двигатель</strong></center></td>
        </tr>
		
            <tr>
              <td>Двигатель</td>
              <td></td>
              <td>Weichai WD 10G220-E23 </td>
            </tr>

            <tr>
              <td>Полная мощность</td>
              <td>162 кВт (220 л.с) </td>
              <td>2000 об/мин </td>
            </tr>
         
            <tr>
              <td>Полезная мощность</td>
              <td>154 кВт(206 л.с.)</td>
              <td>2,000 об/мин</td>
            </tr>         

            <tr>
              <td>Регулирование выбросов в атмосферу</td>
              <td></td>
              <td>Tier 2 /Stage II</td>
            </tr>         
          
            <tr>
              <td>Макс, крутящий момент</td>
              <td>900 нМ</td>
              <td>1,300 -1,500 об/мин</td>
            </tr>
       
            <tr>
              <td>Объем (насоса)</td>
              <td>9.7 </td>
              <td>л</td>
            </tr>
         
            <tr>
              <td>Кол-во цилиндров</td>
              <td>6 </td>
              <td></td>
            </tr>
			
        <tr>
            <td colspan="3"><center><strong>Трансмиссия</strong></center></td>
        </tr>
		
            <tr>
              <td>Тип трансмиссии</td>
              <td></td>
              <td>переключение под нагрузкой</td>
            </tr>
          
            <tr>
              <td>Вариатор</td>
              <td></td>
              <td>двухступенчатый, 4-х компонентный</td>
            </tr>
		
            <tr>
              <td>Макс, скорость движения, вперед</td>
              <td>38 </td>
              <td>км/ч</td>
            </tr>
         
            <tr>
              <td>Макс, скорость движения, назад</td>
              <td>16 </td>
              <td>км/ч</td>
            </tr>
         
            <tr>
              <td>Кол-во передач, вперед</td>
              <td>2</td>
              <td></td>
            </tr>
          
            <tr>
              <td>Кол-во передач, назад</td>
              <td>1 </td>
              <td></td>
            </tr>
          
            <tr>
              <td>Дифференциал переднего типа</td>
              <td></td>
              <td>обычный</td>
            </tr>

            <tr>
              <td>Дифференциал заднего типа</td>
              <td></td>
              <td>обычный</td>
            </tr>
			
            <tr>
              <td>Колебания мостов</td>
              <td>±11</td>
              <td>°</td>
            </tr>

            <tr>
              <td>Конфигурация</td>
              <td></td>
              <td>шарнирно-сочлененная</td>
            </tr>
		
            <tr>
              <td>Давление разгрузки</td>
              <td>12</td>
              <td>МРа</td>
            </tr>
          
            <tr>
              <td>Тип рабочего тормоза</td>
              <td></td>
              <td>сухой дисковый суппорт</td>
            </tr>
		
            <tr>
              <td>Активация рабочего тормоза</td>
              <td>38 </td>
              <td>км/ч</td>
            </tr>
         
            <tr>
              <td>Тип стояночного тормоза</td>
              <td></td>
              <td>ручное пневматическое управление</td>
            </tr>
         
            <tr>
              <td>Тип главного насоса</td>
              <td></td>
              <td>шестереночный</td>
            </tr>
          
            <tr>
              <td>Главное давление разгрузки</td>
              <td>17</td>
              <td>МРа</td>
            </tr>
          
            <tr>
              <td>Подъем</td>
              <td>6.5 </td>
              <td>с</td>
            </tr>

            <tr>
              <td>Время выгрузки</td>
              <td>1.5 </td>
              <td>с</td>
            </tr>
			
            <tr>
              <td>Время опускания</td>
              <td>3.5  </td>
              <td>с</td>
            </tr>
			
            <tr>
              <td>Макс. Время полного цикла</td>
              <td>11.5 </td>
              <td>с</td>
            </tr>

            <tr>
              <td>Опрокидывающая нагрузка - прямо</td>
              <td>13,622 </td>
              <td>кг</td>
            </tr>

            <tr>
              <td>Опрокидывающая нагрузка - полный оборот</td>
              <td>11,327 </td>
              <td>кг</td>
            </tr>

            <tr>
              <td>Макс.угол копания на макс.высоте</td>
              <td>45</td>
              <td>°</td>
            </tr>

            <tr>
              <td>Высота выгрузки, произв-ть на макс, высоте</td>
              <td>2,970 </td>
              <td>мм</td>
            </tr>	

            <tr>
              <td>Вылет кромки ковша, произв-ть на макс, высоте </td>
              <td>1,200 </td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Макс. Высота шарнирного пальца</td>
              <td>4,020 </td>
              <td>м</td>
            </tr>	

            <tr>
              <td>Макс. Глубина копания на уровне кошва</td>
              <td>60 </td>
              <td>м</td>
            </tr>

            <tr>
              <td>Угол возврата ковша на уровне грунта</td>
              <td>42</td>
              <td>°</td>
            </tr>

            <tr>
              <td>Угол возврата ковша при перемещении</td>
              <td>46</td>
              <td>°</td>
            </tr>

            <tr>
              <td>Угол возврата ковша на максимальной высоте</td>
              <td>59</td>
              <td>°</td>
            </tr>

            <tr>
              <td>Длина при опущенном ковше</td>
              <td>8,030</td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Ширина по внешнему краю шин</td>
              <td>2,750 </td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Колесная база</td>
              <td>3,427 </td>
              <td>мм</td>
            </tr>

            <tr>
              <td>Колея</td>
              <td>2,150 </td>
              <td>мм</td>
            </tr>	

            <tr>
              <td>Угол разворота, в обе стороны</td>
              <td>35</td>
              <td>°</td>
            </tr>

            <tr>
              <td>Размер шин</td>
              <td></td>
              <td>23.5 - 25</td>
            </tr>

            <tr>
              <td>Эксплуатационная масса </td>
              <td>16,500</td>
			  <td>кг</td>
            </tr>

            <tr>
              <td>Стандартный объем ковша </td>
              <td>З</td>
			  <td>м3</td>
            </tr>
			
        </tbody>
    </table>