<p>Цена DDP Алматы - 38 000 долларов США. 
Цена без НДС для ТОО и ИП - 34 000 долларов США.
Срок поставки - 35 дней.
</p>

<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>Ед.изм</td>
              <td>FL935E-II</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Номинальная нагрузка</td>
              <td>кг</td>
              <td>3000</td>
            </tr>

            <tr>
              <td>Эксплуатационный вес</td>
              <td>кг</td>
              <td>10000</td>
            </tr>
         
            <tr>
              <td>Номинальная емкость ковш-лопаты</td>
              <td>м3</td>
              <td>1.8</td>
            </tr>
         

            <tr>
              <td>Максимальное усилие копания</td>
              <td>кН</td>
              <td>120</td>
            </tr>
         
          
            <tr>
              <td>Максимальная сила тяги</td>
              <td>кН</td>
              <td>92</td>
            </tr>
         
            <tr>
              <td>Макс. высота выгрузки</td>
              <td>мм</td>
              <td>2980</td>
            </tr>
          
            <tr>
              <td>Макс. расстояние выгрузки</td>
              <td>мм</td>
              <td>1100</td>
            </tr>
          
            <tr>
              <td>Диапазон скоростей вперед</td>
              <td>км/ч</td>
              <td>0-37</td>
            </tr>
       
            <tr>
              <td>Диапазон скоростей назад</td>
              <td>км/ч</td>
              <td>0-28.5</td>
            </tr>
     
            <tr>
              <td>Габаритные размеры</td>
              <td>ДхШхВ</td>
              <td>7066x2424x3230</td>
            </tr>
			
            <tr>
              <td>Макс. угол поворота</td>
              <td>°</td>
              <td>36</td>
            </tr>
           
            <tr>
              <td>Макс. подъемопредолеваемость</td>
              <td>°</td>
              <td>30</td>
            </tr>
                
            <tr>
              <td>Мин. радиус поворота</td>
              <td>мм</td>
              <td>5945</td>
            </tr>
                 
            <tr>
              <td>Размер шин</td>
              <td></td>
              <td>17.5-25-12PR</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Параметры двигателя</strong></center></td>
        </tr>   
		
            <tr>
              <td>Тип</td>
              <td></td>
              <td>YC6B125-T20</td>
            </tr>

            <tr>
              <td>Форма</td>
              <td></td>
              <td>6-цил., рядное, с турбонаддувом, непосредственного впрыска</td>
            </tr>
			
            <tr>
              <td>Мощность двигателя</td>
              <td>Квт</td>
              <td>92</td>
            </tr>
                       
            <tr>
              <td>Макс. крутящий момент</td>
              <td>нм</td>
              <td>463</td>
            </tr>
    
            <tr>
              <td>Диаметр цилиндра</td>
              <td>мм</td>
              <td>108</td>
            </tr>

            <tr>
              <td>Такт</td>
              <td>мм</td>
              <td>125</td>
            </tr>

            <tr>
              <td>Рабочий объем</td>
              <td>л</td>
              <td>6.871</td>
            </tr>

            <tr>
              <td>Расход топлива</td>
              <td>г / кВт.ч</td>
              <td>235</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Гидравлическая система</strong></center></td>
        </tr>   

            <tr>
              <td>Давление рабочей системы</td>
              <td>МПа</td>
              <td>16</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Тормозная система</strong></center></td>
        </tr> 

            <tr>
              <td>Форма тормозной системы движения</td>
              <td></td>
              <td>Одноконтурный, пневматический, четырехколесный</td>
            </tr>

            <tr>
              <td>Форма стояночной, аварийной тормозной системы</td>
              <td></td>
              <td>Дисковый тормоз</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Емкость топливаной системы</strong></center></td>
        </tr> 

            <tr>
              <td>Топливный бак</td>
              <td>л</td>
              <td>155</td>
            </tr>		

            <tr>
              <td>Гидробак</td>
              <td>л</td>
              <td>180</td>
            </tr>

            <tr>
              <td>Режущая кромка</td>
              <td></td>
              <td>1</td>
            </tr>		

            <tr>
              <td>Кабина</td>
              <td></td>
              <td>С кондиционером</td>
            </tr>

            <tr>
              <td>Управление</td>
              <td></td>
              <td>рычажное</td>
            </tr>	
			
        </tbody>
    </table>