<p>Цена DDP Алматы - 38 000 долларов США. 
Цена без НДС для ТОО и ИП - 34 000 долларов США.
Срок поставки - 35 дней.
</p>

<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>Ед.изм</td>
              <td>FL955F-II</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Номинальная нагрузка</td>
              <td>кг</td>
              <td>5000</td>
            </tr>

            <tr>
              <td>Эксплуатационный вес</td>
              <td>кг</td>
              <td>16650</td>
            </tr>
         
            <tr>
              <td>Номинальная емкость ковш-лопаты</td>
              <td>м3</td>
              <td>3</td>
            </tr>
         
            <tr>
              <td>Максимальное усилие копания</td>
              <td>кН</td>
              <td>≥175</td>
            </tr>
                   
            <tr>
              <td>Максимальная сила тяги</td>
              <td>кН</td>
              <td>≥160</td>
            </tr>
          
            <tr>
              <td>Максимальная сила тяги</td>
              <td>кН</td>
              <td>≤10,2</td>
            </tr>
			
            <tr>
              <td>Макс. высота выгрузки</td>
              <td>мм</td>
              <td>2900-3135</td>
            </tr>
          
            <tr>
              <td>Макс. расстояние выгрузки</td>
              <td>мм</td>
              <td>1150-1195</td>
            </tr>
          
            <tr>
              <td>Диапазон скоростей вперед</td>
              <td>км/ч</td>
              <td>0-42</td>
            </tr>
       
            <tr>
              <td>Диапазон скоростей назад</td>
              <td>км/ч</td>
              <td>0-17.5</td>
            </tr>
     
            <tr>
              <td>Габаритные размеры</td>
              <td>ДхШхВ</td>
              <td>7730x2980x3460</td>
            </tr>
			
            <tr>
              <td>Макс. угол поворота</td>
              <td>°</td>
              <td>37±1</td>
            </tr>
           
            <tr>
              <td>Макс. подъемопредолеваемость</td>
              <td>°</td>
              <td>30</td>
            </tr>
                
            <tr>
              <td>Мин. радиус поворота по центру машины</td>
              <td>мм</td>
              <td>5665</td>
            </tr>
                
            <tr>
              <td>Мин. радиус поворота по внешнему краю ковша</td>
              <td>мм</td>
              <td>6850</td>
            </tr>
			
            <tr>
              <td>Размер шин</td>
              <td></td>
              <td>23.5-25</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Параметры двигателя</strong></center></td>
        </tr>   
		
            <tr>
              <td>Модель</td>
              <td></td>
              <td>Weichai WD10G220E23</td>
            </tr>

            <tr>
              <td>Тип</td>
              <td></td>
              <td>6-цилиндровый, рядный, непосредственного впрыска, с турбонаддувом и водяным охлаждением</td>
            </tr>
			
            <tr>
              <td>Мощность двигателя (при 2000 об/мин) </td>
              <td>кВт</td>
              <td>162</td>
            </tr>
                       
            <tr>
              <td>Макс. крутящий момент</td>
              <td>Н.м</td>
              <td>900</td>
            </tr>
    
            <tr>
              <td>Диаметр цилиндра</td>
              <td>мм</td>
              <td>126</td>
            </tr>

            <tr>
              <td>Ход цилиндра</td>
              <td>мм</td>
              <td>130</td>
            </tr>

            <tr>
              <td>Рабочий объем</td>
              <td>л</td>
              <td>9,726</td>
            </tr>

            <tr>
              <td>Расход топлива</td>
              <td>г / кВт.ч</td>
              <td>210,5</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Гидравлическая система</strong></center></td>
        </tr>   

            <tr>
              <td>Давление рабочей системы</td>
              <td>МПа</td>
              <td>18</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Емкость топливаной системы</strong></center></td>
        </tr> 

            <tr>
              <td>Топливный бак</td>
              <td>л</td>
              <td>280</td>
            </tr>		
			
        </tbody>
    </table>