<p>Цена DDP Алматы - $89000. 
Срок поставки - 20-30 дней.
</p>
<p>•	Дизельный двигатель – Weichai; 
•	трансмиссия hangchi; 
•	Meritor мосты; 
•	стандартный ковш 3,0 м3 ;
•	управление переводное; 
•	кабина с кондиционером и Мр3
</p>
<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>Ед.изм</td>
              <td>FL958G-II</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Номинальная нагрузка</td>
              <td>кг</td>
              <td>5000</td>
            </tr>

            <tr>
              <td>Эксплуатационный вес</td>
              <td>кг</td>
              <td>17100</td>
            </tr>
         
            <tr>
              <td>Номинальная емкость ковш-лопаты</td>
              <td>м3</td>
              <td>3</td>
            </tr>
         

            <tr>
              <td>Максимальное усилие копания</td>
              <td>кН</td>
              <td>185</td>
            </tr>
                   
            <tr>
              <td>Максимальная сила тяги</td>
              <td>кН</td>
              <td>160</td>
            </tr>
          
            <tr>
              <td>Время полного цикла</td>
              <td>c</td>
              <td>10.6</td>
            </tr>
			
            <tr>
              <td>Макс. высота выгрузки</td>
              <td>мм</td>
              <td>3180</td>
            </tr>
          
            <tr>
              <td>Макс. расстояние выгрузки</td>
              <td>мм</td>
              <td>1160</td>
            </tr>
          
            <tr>
              <td>Диапазон скоростей вперед</td>
              <td>км/ч</td>
              <td>0-38,4</td>
            </tr>
       
            <tr>
              <td>Диапазон скоростей назад</td>
              <td>км/ч</td>
              <td>0-24,2</td>
            </tr>
     
            <tr>
              <td>Габаритные размеры</td>
              <td>ДхШхВ</td>
              <td>7960x2970x3450</td>
            </tr>
			
            <tr>
              <td>Макс. угол поворота</td>
              <td>°</td>
              <td>37</td>
            </tr>
           
            <tr>
              <td>Макс. подъемопредолеваемость</td>
              <td>°</td>
              <td>30</td>
            </tr>
                
            <tr>
              <td>Мин. радиус поворота</td>
              <td>мм</td>
              <td>6770</td>
            </tr>
                 
            <tr>
              <td>Размер шин</td>
              <td></td>
              <td>235-25-16PR</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Параметры двигателя</strong></center></td>
        </tr>   
		
            <tr>
              <td>Тип</td>
              <td></td>
              <td>Weichai WD10G220E23</td>
            </tr>

            <tr>
              <td>Форма</td>
              <td></td>
              <td>6-цил., рядное, с наддувом, непосредственного впрыска</td>
            </tr>
			
            <tr>
              <td>Мощность двигателя</td>
              <td>Квт</td>
              <td>162</td>
            </tr>
                       
            <tr>
              <td>Макс. крутящий момент</td>
              <td>нм</td>
              <td>930</td>
            </tr>
    
            <tr>
              <td>Диаметр цилиндра</td>
              <td>мм</td>
              <td>126</td>
            </tr>

            <tr>
              <td>Такт</td>
              <td>мм</td>
              <td>130</td>
            </tr>

            <tr>
              <td>Рабочий объем</td>
              <td>л</td>
              <td>9.756</td>
            </tr>

            <tr>
              <td>Расход топлива</td>
              <td>г / кВт.ч</td>
              <td>220</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Гидравлическая система</strong></center></td>
        </tr>   

            <tr>
              <td>Давление рабочей системы</td>
              <td>МПа</td>
              <td>20</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Тормозная система</strong></center></td>
        </tr> 

            <tr>
              <td>Форма тормозной системы движения</td>
              <td></td>
              <td>Одноконтурный, пневматический, четырехколесный дисковый тормоз</td>
            </tr>

            <tr>
              <td>Форма стояночной, аварийной тормозной системы</td>
              <td></td>
              <td>Дисковый тормоз</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Емкость топливаной системы</strong></center></td>
        </tr> 

            <tr>
              <td>Топливный бак</td>
              <td>л</td>
              <td>280</td>
            </tr>		

            <tr>
              <td>Гидробак</td>
              <td>л</td>
              <td>210</td>
            </tr>
			
        </tbody>
    </table>