<p>Цена DDP Алматы – $48 500. Цена без НДС для ТОО и ИП -  $43 500. Срок поставки:35 дней</p>
<p>
<p> Опции: </p>
<p>•	Вилы-4500$. Захват для сена -5000$. Захват для труб – 5000$. Открытая щетка -6000$. Закрытая шетка -5000$. Отвал стоит -4500$. Ротор с двигателем – 8000$. Ротор без двигателя стоит -6000$.  
</p>

<table class="striped car_table">
        <thead>
            <tr>
              <td>Параметры</td>
              <td>Ед.изм</td>
              <td>FL953</td>
            </tr>
        </thead>

        <tbody>

            <tr>
              <td>Номинальная нагрузка</td>
              <td>кг</td>
              <td>5000</td>
            </tr>

            <tr>
              <td>Эксплуатационный вес (стандартная компоновка) </td>
              <td>кг</td>
              <td>16200</td>
            </tr>
         
            <tr>
              <td>Номинальная емкость ковш-лопаты</td>
              <td>м3</td>
              <td>16200</td>
            </tr>        

            <tr>
              <td>Максимальная подъемная сила</td>
              <td>кН</td>
              <td>≥175</td>
            </tr>        
          
            <tr>
              <td>Максимальная сила тяги</td>
              <td>кН</td>
              <td>≥160</td>
            </tr>
       
            <tr>
              <td>Время трехчленной суммы</td>
              <td>с</td>
              <td>≤10.2</td>
            </tr>
         
            <tr>
              <td>Макс. высота выгрузки</td>
              <td>мм</td>
              <td>3135</td>
            </tr>
          
            <tr>
              <td>Макс. расстояние выгрузки</td>
              <td>мм</td>
              <td>1195</td>
            </tr>
          
            <tr>
              <td>Диапазон скоростей вперед</td>
              <td>км/ч</td>
              <td>0 - 42</td>
            </tr>
       
            <tr>
              <td>Диапазон скоростей назад</td>
              <td>км/ч</td>
              <td>0 - 17.5</td>
            </tr>
     
            <tr>
              <td>Габаритные размеры</td>
              <td>ДхШхВ</td>
              <td>（7700±50）х2980х（3420±50)</td>
            </tr>
			
            <tr>
              <td>Макс. угол поворота</td>
              <td>°</td>
              <td>35</td>
            </tr>
           
            <tr>
              <td>Макс. допускаемая наклонность местности </td>
              <td>°</td>
              <td>29</td>
            </tr>
                
            <tr>
              <td>Мин. радиус поворота</td>
              <td>мм</td>
              <td>6850</td>
            </tr>
                 
            <tr>
              <td>Размер шин</td>
              <td></td>
              <td>23.5-25</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Параметры двигателя</strong></center></td>
        </tr>   
		
            <tr>
              <td>Модель</td>
              <td></td>
              <td>Weichai WD10G220E23</td>
            </tr>

            <tr>
              <td>Форма</td>
              <td></td>
              <td>6-цил., рядный, с прямый впрыском и трубонаддувом</td>
            </tr>
			
            <tr>
              <td>Мощность двигателя</td>
              <td>Квт</td>
              <td>162</td>
            </tr>
                       
            <tr>
              <td>Макс. крутящий момент</td>
              <td>нм</td>
              <td>900</td>
            </tr>
    
            <tr>
              <td>Диаметр цилиндра</td>
              <td>мм</td>
              <td>126</td>
            </tr>

            <tr>
              <td>Ход</td>
              <td>мм</td>
              <td>130</td>
            </tr>

            <tr>
              <td>Рабочий объем</td>
              <td>л</td>
              <td>9.756</td>
            </tr>

            <tr>
              <td>Расход топлива</td>
              <td>г / кВт.ч</td>
              <td>220</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Гидравлическая система</strong></center></td>
        </tr>   

            <tr>
              <td>Давление рабочей системы</td>
              <td>МПа</td>
              <td>18</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Тормозная система</strong></center></td>
        </tr> 

            <tr>
              <td>Форма тормозной системы движения</td>
              <td></td>
              <td>Четырехколесный дисковый тормоз с одной трубы газовой шапки</td>
            </tr>

            <tr>
              <td>Форма стояночной, аварийной тормозной системы</td>
              <td></td>
              <td>Дисковый тормоз</td>
            </tr>
 
        <tr>
            <td colspan="3"><center><strong>Емкость топливаной системы</strong></center></td>
        </tr> 

            <tr>
              <td>Топливный бак</td>
              <td>л</td>
              <td>270</td>
            </tr>		

            <tr>
              <td>Гидробак</td>
              <td>л</td>
              <td>270</td>
            </tr>
			
        </tbody>
    </table>